/*
Theme Name: TheGem Child
Description: Multi-Purpose Wordpress Theme
Author: Codex Themes.
Theme URI: http://codex-themes.com/thegem/
Author URI: http://codex-themes.com/thegem/
Template: thegem
Version: 1.0
Tags: one-column, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, theme-options, translation-ready, dark, light
License: GNU General Public License
License URI: license.txt
*/

.main-menu {
    margin-top: 0;
}

.primary-navigation .zmb-logo {
    margin-left: 15px;
}

.zmb-thegem-main-menu {
    position: fixed;
}

.style-mobile {
    top: auto;
    padding: 0;
}

.toggle-nav-menu {
    background-color: rgba(42, 41, 46, 0.5);
    z-index: 10000;
}

.toggle-nav-menu.menu-opane {
    background-color: transparent;
    top: 6.5px;
}
.toggle-nav-menu .hamburger-toggle.opane {
    color: #333;
}

.toggle-nav-menu.menu-opane .hamburger-toggle .menu-line-1, 
.toggle-nav-menu.menu-opane .hamburger-toggle .menu-line-2,
.toggle-nav-menu.menu-opane .hamburger-toggle .menu-line-3 {
    color: #333;
    background-color: #333;
}
.menu-item-search .minisearch{
	left:-71px !important;
}

