/* Default effects for Zan Menu Builder */
/* End default effects for Zan Menu Builder */
body.zmb-is-opened:after {
  display: block !important;
  content: ' ';
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1000; }

.zmb-heading {
  position: relative;
  line-height: 24px;
  font-size: 12px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase; }
  .zmb-heading:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 2px;
    max-width: 100%;
    background-color: #e7e7e7; }
  .zmb-heading.zmb-heading-white:after {
    background-color: #434343; }

.zmb-small-title {
  margin-top: 0;
  margin-bottom: 7px;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold; }
  .zmb-small-title a {
    color: inherit; }

.zanmenu-content .container {
  max-width: 100%; }
.zanmenu-content .zmb-btn {
  background-color: #262626;
  color: #fff; }
  .zanmenu-content .zmb-btn a {
    background-color: #262626 !important;
    color: #fff !important;
    background-image: none;
    line-height: inherit;
    padding: 7px 14px;
    text-transform: uppercase;
    font-size: 12px;
    border: none; }
    .zanmenu-content .zmb-btn a.vc_btn3-icon-left {
      padding-left: 34px; }
    .zanmenu-content .zmb-btn a.vc_btn3-icon-right {
      padding-right: 34px; }
    .zanmenu-content .zmb-btn a:hover {
      background-color: #49c3df !important;
      color: #fff !important;
      border: none; }
    .zanmenu-content .zmb-btn a.zmb-btn-cart {
      display: inline-block;
      background-color: #262626;
      color: #fff;
      background-image: none;
      line-height: inherit;
      padding: 7px 14px;
      text-transform: uppercase;
      font-size: 12px;
      border: none; }
      .zanmenu-content .zmb-btn a.zmb-btn-cart:hover {
        color: #fff;
        background-color: #49c3df; }

/* ZMB Mini Cart */
.zanmenu-content .zmb-mini-cart-wrap .button {
  display: inline-block;
  background-color: #262626;
  color: #fff;
  background-image: none;
  line-height: inherit;
  padding: 7px 14px;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .zanmenu-content .zmb-mini-cart-wrap .button:hover {
    color: #fff;
    background-color: #49c3df; }

/* Simple title - description (default is style_1)*/
.zmb-simple-title-wrap {
  margin-bottom: 20px;
  /* Simple title style_2 */ }
  .zmb-simple-title-wrap .simple-title-inner {
    position: relative; }
    .zmb-simple-title-wrap .simple-title-inner .simple-title {
      font-weight: 700;
      font-size: 14px;
      color: #000;
      margin: 0; }
    .zmb-simple-title-wrap .simple-title-inner .short-desc {
      font-size: 13px;
      color: #7c7c7c; }
    .zmb-simple-title-wrap .simple-title-inner .icon-wrap {
      position: absolute; }
  .zmb-simple-title-wrap.has-icon .text-wrap {
    padding-left: 15px; }
  .zmb-simple-title-wrap.simple-title-style_2 {
    padding-bottom: 20px; }
    .zmb-simple-title-wrap.simple-title-style_2 .simple-title-inner .simple-title {
      font-weight: 400; }
    .zmb-simple-title-wrap.simple-title-style_2 .simple-title-inner .icon-wrap {
      font-size: 22px;
      color: #000; }
    .zmb-simple-title-wrap.simple-title-style_2.has-icon .text-wrap {
      padding-left: 40px; }
  .zmb-simple-title-wrap.simple-title-style_3 .icon-wrap {
    font-size: 100px;
    display: block;
    position: relative; }
  .zmb-simple-title-wrap.simple-title-style_3 .text-wrap {
    padding: 0; }
  .zmb-simple-title-wrap.simple-title-style_3 .simple-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px; }
  .zmb-simple-title-wrap.simple-title-style_3 .short-desc {
    font-size: 13px; }
  .zmb-simple-title-wrap.simple-title-style_4 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb; }
    .zmb-simple-title-wrap.simple-title-style_4 .icon-wrap {
      font-size: 25px;
      background-color: #efefef;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      width: 68px;
      height: 68px;
      line-height: 68px;
      text-align: center;
      overflow: hidden; }
    .zmb-simple-title-wrap.simple-title-style_4 .text-wrap {
      padding-left: 85px; }
    .zmb-simple-title-wrap.simple-title-style_4 .simple-title {
      font-size: 16px;
      line-height: 68px; }
    .zmb-simple-title-wrap.simple-title-style_4:last-child {
      border-bottom: none; }
  .zmb-simple-title-wrap.address .icon-wrap {
    font-size: 16px; }
  .zmb-simple-title-wrap.address .short-desc {
    font-size: 13px; }

/* Posts List (default is style_1) */
.zmb-posts-list-wrap .zmb-posts-list .item-post {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3a3a3a; }
  .zmb-posts-list-wrap .zmb-posts-list .item-post:last-child {
    border-bottom: none;
    margin-bottom: 0; }
.zmb-posts-list-wrap .zmb-posts-list .left-part {
  display: block;
  float: left;
  overflow: hidden; }
  .zmb-posts-list-wrap .zmb-posts-list .left-part figure {
    width: 70px;
    height: auto;
    margin-right: 15px; }
    .zmb-posts-list-wrap .zmb-posts-list .left-part figure img {
      margin: 0;
      padding: 0; }
  .zmb-posts-list-wrap .zmb-posts-list .left-part a {
    padding: 0; }
  .zmb-posts-list-wrap .zmb-posts-list .left-part .post-date {
    width: 70px;
    height: 70px;
    display: block;
    color: #cecece;
    border: 2px solid #cecece;
    margin-right: 15px;
    padding: 6px 10px; }
    .zmb-posts-list-wrap .zmb-posts-list .left-part .post-date span {
      display: block;
      width: 100%;
      height: 50%;
      font-size: 18px;
      text-align: center;
      position: relative; }
    .zmb-posts-list-wrap .zmb-posts-list .left-part .post-date .post-day {
      color: inherit;
      border-color: inherit;
      margin-bottom: 7px; }
      .zmb-posts-list-wrap .zmb-posts-list .left-part .post-date .post-day:after {
        content: ' ';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -3.5px;
        background-color: #cecece; }
    .zmb-posts-list-wrap .zmb-posts-list .left-part .post-date .post-month {
      color: inherit; }
    .zmb-posts-list-wrap .zmb-posts-list .left-part .post-date .post-year {
      color: inherit; }
.zmb-posts-list-wrap .zmb-posts-list .right-part {
  display: block;
  float: none;
  overflow: hidden; }
  .zmb-posts-list-wrap .zmb-posts-list .right-part h5 {
    margin-top: 0;
    margin-bottom: 7px;
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold; }
    .zmb-posts-list-wrap .zmb-posts-list .right-part h5 a {
      padding: 0;
      color: inherit; }
  .zmb-posts-list-wrap .zmb-posts-list .right-part .post-excerpt-wrap {
    font-size: 13px; }

/* Single Post (shortcode) */
.zmb-single-post-wrap {
  padding-bottom: 15px; }
  .zmb-single-post-wrap .zmb-single-post-inner figure {
    position: relative;
    margin-bottom: 15px; }
    .zmb-single-post-wrap .zmb-single-post-inner figure img {
      width: 100%;
      height: auto; }
    .zmb-single-post-wrap .zmb-single-post-inner figure .icon-wrap {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      color: #fff;
      background-color: #49c3df; }
  .zmb-single-post-wrap .zmb-single-post-inner .zmb-small-title a {
    padding: 0;
    margin: 0;
    color: inherit; }
  .zmb-single-post-wrap .zmb-single-post-inner .post-excerpt-wrap {
    margin-bottom: 10px;
    font-size: 13px; }
  .zmb-single-post-wrap .zmb-single-post-inner .zmb-read-more {
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline; }

/* ZMB News Letter */
.zmb-newsleter-wrap .zmb-newsletter .short-desc {
  margin-bottom: 15px; }
.zmb-newsleter-wrap .newsletter-form-wrap {
  width: 100%; }
  .zmb-newsleter-wrap .newsletter-form-wrap .form-newsletter {
    width: 100%; }
    .zmb-newsleter-wrap .newsletter-form-wrap .form-newsletter input[name="email"] {
      width: 100%;
      border: none;
      border-radius: 0;
      margin-bottom: 10px; }
  .zmb-newsleter-wrap .newsletter-form-wrap .zmb-btn {
    float: right;
    padding: 7px 25px;
    border-radius: 0;
    font-size: 12px; }
    .zmb-newsleter-wrap .newsletter-form-wrap .zmb-btn i {
      margin-right: 7px; }
.zmb-newsleter-wrap .return-message {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px; }

/* ZMB Product List */
.zmb-products-list-wrap {
  background: none; }
  .zmb-products-list-wrap .product-item {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%;
    background: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb; }
    .zmb-products-list-wrap .product-item figure {
      display: block;
      float: left;
      width: 82px;
      margin-right: 15px; }
      .zmb-products-list-wrap .product-item figure img {
        width: 100%;
        height: auto; }
    .zmb-products-list-wrap .product-item .product-info-wrap {
      display: block; }
    .zmb-products-list-wrap .product-item .product-item-title {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 24px;
      font-size: 14px;
      font-weight: bold;
      color: inherit; }
    .zmb-products-list-wrap .product-item .price {
      font-size: 14px;
      color: #49c3df; }
    .zmb-products-list-wrap .product-item:last-child {
      border-bottom: none; }

/* ZMB Single Product */
.zmb-single-product-wrap {
  margin-bottom: 15px; }
  .zmb-single-product-wrap .single-product-inner {
    text-align: center; }
    .zmb-single-product-wrap .single-product-inner figure img {
      width: 100%;
      height: auto; }
    .zmb-single-product-wrap .single-product-inner h3 {
      font-size: 14px;
      color: #49c3df; }
    .zmb-single-product-wrap .single-product-inner .price {
      font-size: 14px;
      color: #49c3df; }

/* ZMB Image Item With Text */
.zmb-img-item-with-text-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px; }
  .zmb-img-item-with-text-wrap .item-inner .img-wrap {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px; }
    .zmb-img-item-with-text-wrap .item-inner .img-wrap img {
      width: 100%;
      height: auto; }
  .zmb-img-item-with-text-wrap .item-inner .text-wrap {
    float: none;
    display: block;
    overflow: hidden; }
    .zmb-img-item-with-text-wrap .item-inner .text-wrap .img-item-title {
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0; }
      .zmb-img-item-with-text-wrap .item-inner .text-wrap .img-item-title a {
        padding: 0;
        margin: 0;
        color: inherit;
        text-decoration: none; }
        .zmb-img-item-with-text-wrap .item-inner .text-wrap .img-item-title a:hover {
          color: #49c3df; }
    .zmb-img-item-with-text-wrap .item-inner .text-wrap .short-desc {
      font-size: 11px;
      color: #7c7c7c; }

/* Menu Desktop */
.zmb-wrap {
  width: 100% !important;
  overflow: hidden;
  /* Contact Form 7 */
  /* VC Gmap */ }
  .zmb-wrap .zmb-toggle-menu-mobile {
    display: none;
    padding: 10px 0;
    float: left; }
    .zmb-wrap .zmb-toggle-menu-mobile .icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #333;
      padding: 10px;
      float: left;
      margin-left: 15px;
      margin-right: 15px; }
      .zmb-wrap .zmb-toggle-menu-mobile .icon span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        float: left;
        margin-bottom: 4px; }
    .zmb-wrap .zmb-toggle-menu-mobile:hover .icon {
      color: #49c3df; }
      .zmb-wrap .zmb-toggle-menu-mobile:hover .icon span {
        background-color: #49c3df; }
  .zmb-wrap .zmb-menu > li {
    display: inline-block;
    position: relative;
    color: #000;
     border-left: 1px solid #ececec;
    /* Mini Cart on menu */ }
    .zmb-wrap .zmb-menu > li .sub-menu {
		display: none;
      position: absolute;
      top: auto;
      left: 0;
      z-index: 1000;
      width: 100%;
      background-color: #fff;
      min-width: 225px;
      border-top: 3px solid #49c3df;
max-height: calc(95vh - 67px);
overflow-x: hidden;
    overflow-y: auto;
      /*
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      */
      margin: 0;
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, visibility 0.4s linear 0s;
      -moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, visibility 0.4s linear 0s;
      -ms-transition: opacity 0.4s ease, -ms-transform 0.4s ease, visibility 0.4s linear 0s;
      -o-transition: opacity 0.4s ease, -o-transform 0.4s ease, visibility 0.4s linear 0s;
      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s linear 0s;
      /* ZMB Btn */ }
	  .zmb-wrap .zmb-menu > li:hover .sub-menu.zanmenu {display: block;}
      .zmb-wrap .zmb-menu > li .sub-menu > .menu-item {
        color: #000;
        display: inline-block;
        width: 100%;
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: 1px solid #ebebeb; }
        .zmb-wrap .zmb-menu > li .sub-menu > .menu-item a {
          display: inline-block;
          color: inherit;
          width: 100%;
          padding: 9px 20px;
          line-height: 24px; }
          .zmb-wrap .zmb-menu > li .sub-menu > .menu-item a .item-icon {
            min-width: 16px;
            margin-right: 7px; }
          .zmb-wrap .zmb-menu > li .sub-menu > .menu-item a:hover {
            color: #49c3df; }
        .zmb-wrap .zmb-menu > li .sub-menu > .menu-item > .sub-menu {
          border: 1px solid #ebebeb;
          margin-top: -1px;
          left: 100%;
          top: 0; }
        .zmb-wrap .zmb-menu > li .sub-menu > .menu-item:hover > .sub-menu {
          visibility: visible;
          opacity: 1; }
        .zmb-wrap .zmb-menu > li .sub-menu > .menu-item:last-child {
          border-bottom: none; }
        .zmb-wrap .zmb-menu > li .sub-menu > .menu-item.menu-item-has-children:after {
          font-family: FontAwesome;
          content: "\f105";
          position: absolute;
          line-height: 24px;
          padding: 9px 20px;
          top: 0;
          right: 0;
          z-index: 1; }
      .zmb-wrap .zmb-menu > li .sub-menu .zanmenu-content {
        padding-left: 15px;
        padding-right: 15px; }
        .zmb-wrap .zmb-menu > li .sub-menu .zanmenu-content > .vc_row {
          padding: 30px 0px; }
        .zmb-wrap .zmb-menu > li .sub-menu .zanmenu-content ul {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          border: none; }
          .zmb-wrap .zmb-menu > li .sub-menu .zanmenu-content ul > li {
            list-style: none;
            display: inline-block;
            width: 100%;
            border: none;
            font-size: 13px;
            position: relative; }
          .zmb-wrap .zmb-menu > li .sub-menu .zanmenu-content ul:before {
            display: none; }
          .zmb-wrap .zmb-menu > li .sub-menu .zanmenu-content ul:after {
            display: none; }
      .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-container {
        margin: 0; }
        .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-container .vc_tta-tabs-container {
          float: left;
          display: block;
          overflow: hidden;
          width: 25%;margin-bottom: 0 !important;
          margin: 0; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-container .vc_tta-tabs-container .vc_tta-tabs-list {
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            width: 100%;
            border-left: none;
            border-top: none;
            border-bottom: none; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-container .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab {
              display: block;
              border-left: none;
              border-right: none;
              border-top: none;
              border-bottom: 1px solid #ebebeb; }
              .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-container .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab > a {
                width: 100%;
                background-color: #fff;
                border: none;
                border-radius: 0; }
              .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-container .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab.vc_active > a {
                background-color: #2a2a2a;
                color: #49c3df; }
      .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container {
        display: block;
        float: none;
        overflow: hidden;
        /* ZMB Button in tab */
        /* ZMB read more link */ }
        .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panels {
          border-left: 1px solid #ebebeb;
          border-right: none;
          border-top: none;
          border-bottom: none; }
        .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body {
          padding: 0; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body > .vc_row {
            padding: 30px; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .wpb_single_image {
            display: block; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .wpb_single_image .vc_single_image-wrapper {
              display: block; }
              .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .wpb_single_image .vc_single_image-wrapper img {
                width: 100%; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .widget .widgettitle {
            color: #000000; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .widget .widgettitle:after {
              background-color: #e7e7e7; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .widget ul > li {
            color: #7c7c7c; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .widget ul > li:hover {
              color: #49c3df; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .zanmb-custom-menu-wrap {
            margin-bottom: 30px; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .zanmb-custom-menu-wrap .zanmb-custom-menu {
              margin-bottom: 0; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .zmb-products-list-wrap .product-item {
            border-bottom: 1px solid #ebebeb; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .vc_tta-panel-body .zmb-products-list-wrap .product-item:last-child {
              border-bottom: none; }
        .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn {
          background-color: #262626;
          color: #fff; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn a {
            background-color: inherit;
            color: inherit;
            background-image: none;
            line-height: inherit;
            padding: 7px 14px;
            text-transform: uppercase;
            font-size: 12px;
            border: none; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn a.vc_btn3-icon-left {
              padding-left: 34px; }
              .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn a.vc_btn3-icon-left .vc_btn3-icon {
                left: 14px; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn a.vc_btn3-icon-right {
              padding-right: 34px; }
              .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn a.vc_btn3-icon-right .vc_btn3-icon {
                right: 14px; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn a .vc_btn3-icon {
              width: 20px; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-btn:hover {
            background-color: #49c3df;
            color: #fff; }
        .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-read-more {
          color: #49c3df;
          border: none;
          background: none;
          margin: 0 auto;
          display: block;
          float: none;
          text-align: center; }
          .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-read-more a {
            color: inherit;
            border: none;
            background: none;
            border-radius: 0;
            padding: 3px 0;
            text-transform: uppercase;
            border-bottom: 1px solid transparent; }
            .zmb-wrap .zmb-menu > li .sub-menu .vc_tta-panels-container .zmb-read-more a:hover {
              border-bottom: 1px solid #49c3df; }
      .zmb-wrap .zmb-menu > li .sub-menu .zmb-btn.zmb-btn-white-o {
        background-color: transparent; }
        .zmb-wrap .zmb-menu > li .sub-menu .zmb-btn.zmb-btn-white-o a {
          background-color: transparent;
          background-image: none;
          border: 2px solid #4f4f4f;
          color: #fff;
          padding: 10px 20px; }
        .zmb-wrap .zmb-menu > li .sub-menu .zmb-btn.zmb-btn-white-o:hover a {
          background-color: #49c3df; }
      .zmb-wrap .zmb-menu > li .sub-menu .zmb-btn.zmb-with-100 {
        width: 100%; }
        .zmb-wrap .zmb-menu > li .sub-menu .zmb-btn.zmb-with-100 a {
          width: 100%; }
      .zmb-wrap .zmb-menu > li .sub-menu .zmb-products-list-wrap .product-item {
        border-bottom: 1px solid #3a3a3a; }
        .zmb-wrap .zmb-menu > li .sub-menu .zmb-products-list-wrap .product-item:last-child {
          border-bottom: none; }
      .zmb-wrap .zmb-menu > li .sub-menu .widget {
        padding: 0;
        border: none;
        margin: 0; }
        .zmb-wrap .zmb-menu > li .sub-menu .widget .widgettitle {
          position: relative;
          line-height: 24px;
          font-size: 12px;
          color: #000000;
          margin-top: 0;
          margin-bottom: 20px;
          padding-bottom: 5px;
          text-transform: uppercase;
          text-align: left;
          font-family: Montserrat;
          font-weight: 400;
          font-style: normal; }
          .zmb-wrap .zmb-menu > li .sub-menu .widget .widgettitle:after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 2px;
            max-width: 100%;
            background-color: #434343; }
        .zmb-wrap .zmb-menu > li .sub-menu .widget ul {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          border: none;
          margin: 0; }
          .zmb-wrap .zmb-menu > li .sub-menu .widget ul > li {
            list-style: none;
            display: inline-block;
            width: 100%;
            border: none;
            color: #7c7c7c;
            font-size: 13px;
            position: relative;
            background-color: transparent; }
            .zmb-wrap .zmb-menu > li .sub-menu .widget ul > li > a {
              color: inherit;
              display: block;
              font-size: inherit;
              margin: 0;
              padding-left: 15px;
              padding-right: 0;
              padding-top: 0;
              padding-bottom: 0;
              width: 100%;
              line-height: 24px; }
            .zmb-wrap .zmb-menu > li .sub-menu .widget ul > li:before {
              position: absolute;
              content: "\f105";
              font-family: FontAwesome;
              width: 15px;
              line-height: 24px; }
            .zmb-wrap .zmb-menu > li .sub-menu .widget ul > li:hover {
              color: #49c3df; }
          .zmb-wrap .zmb-menu > li .sub-menu .widget ul:before {
            display: none; }
          .zmb-wrap .zmb-menu > li .sub-menu .widget ul:after {
            display: none; }
      .zmb-wrap .zmb-menu > li .sub-menu.zmb-dop-direction-left {
        left: 0;
        right: auto; }
      .zmb-wrap .zmb-menu > li .sub-menu.zmb-dop-direction-right {
        left: auto;
        right: 0; }
      .zmb-wrap .zmb-menu > li .sub-menu:before, .zmb-wrap .zmb-menu > li .sub-menu:after {
        display: none; }
    .zmb-wrap .zmb-menu > li > a {
      line-height: 24px;
      display: inline-block !important;
      margin: 0;
      padding: 20px 20px;
      width: auto;
      height: auto;
      position: relative;
      left: auto;
      top: auto;
      text-transform: uppercase;
      color: inherit; }
    .zmb-wrap .zmb-menu > li.current_page_item > a {
      color: #fff;
      background-color: #49c3df; }
    .zmb-wrap .zmb-menu > li.current_page_item.logo > a {
      background-color: transparent; }
    .zmb-wrap .zmb-menu > li.zmb-social > a, .zmb-wrap .zmb-menu > li.zmb-icon > a, .zmb-wrap .zmb-menu > li.logo > a {
      padding: 20px 10px; }
    .zmb-wrap .zmb-menu > li.logo > a {
      position: relative;
      width: 90px; }
      .zmb-wrap .zmb-menu > li.logo > a > img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
    .zmb-wrap .zmb-menu > li > ul.sub-menu {
      border-left: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb; }
    .zmb-wrap .zmb-menu > li:hover {
      background-color: #49c3df; }
      .zmb-wrap .zmb-menu > li:hover > a {
        color: #fff; }
      .zmb-wrap .zmb-menu > li:hover > .sub-menu {
        visibility: inherit;
        opacity: 1;
        filter: alpha(opacity=100); }
      .zmb-wrap .zmb-menu > li:hover .zmb-dropdown-toggle .caret {
        color: #fff; }
    .zmb-wrap .zmb-menu > li.zmb-cart > .sub-menu {
      width: auto;
      right: 0;
      left: auto; }
    .zmb-wrap .zmb-menu > li.zmb-cart .zmb-cart-icon {
      position: relative;
      font-size: 18px;
      line-height: 24px; }
      .zmb-wrap .zmb-menu > li.zmb-cart .zmb-cart-icon .zmb-mini-cart-count {
        position: absolute;
        color: #fff;
        background-color: #49c3df;
        font-size: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        top: -10px;
        right: -18px; }
    .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap {
      width: 300px; }
      .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0; }
        .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item {
          position: relative;
          display: inline-block;
          width: 100%;
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #ebebeb; }
          .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-thumb-wrap {
            float: left;
            margin-right: 10px; }
            .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-thumb-wrap a {
              width: auto;
              padding: 0; }
            .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-thumb-wrap img {
              width: 90px;
              height: auto; }
          .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info {
            display: block;
            float: none;
            overflow: hidden; }
            .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info > a {
              width: 100%;
              margin: 0;
              padding: 10px 0;
              font-size: 14px; }
            .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info span {
              color: #616161; }
            .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info .zmb-product-name {
              color: #000; }
          .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item .remove {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            padding: 0;
            text-align: center; }
          .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .cart_list .mini_cart_item:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none; }
      .zmb-wrap .zmb-menu > li.zmb-cart .zmb-mini-cart-wrap .zmb-btn {
        margin-bottom: 10px; }
  .zmb-wrap .zmb-menu .menu-item-has-children {
    position: relative; }
    .zmb-wrap .zmb-menu .menu-item-has-children.zanmenu-menu-item {
      position: static; }
      .zmb-wrap .zmb-menu .menu-item-has-children.zanmenu-menu-item .dropdown-toggle:after {
        display: none; }
      .zmb-wrap .zmb-menu .menu-item-has-children.zanmenu-menu-item.zmb-position-relative {
        position: relative; }
    .zmb-wrap .zmb-menu .menu-item-has-children .zmb-dropdown-toggle {
      position: relative; }
      .zmb-wrap .zmb-menu .menu-item-has-children .zmb-dropdown-toggle .caret {
        border: none;
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        left: 50%;
        bottom: 5px;
        margin-left: -10px;
        color: #848484; }
        .zmb-wrap .zmb-menu .menu-item-has-children .zmb-dropdown-toggle .caret:before {
          font-family: FontAwesome;
          content: "\f107";
          /* fa fa-angle-down */ }
      .zmb-wrap .zmb-menu .menu-item-has-children .zmb-dropdown-toggle:before {
        display: none; }
      .zmb-wrap .zmb-menu .menu-item-has-children .zmb-dropdown-toggle:after {
        display: none; }
    .zmb-wrap .zmb-menu .menu-item-has-children > a:before {
      display: none; }
    .zmb-wrap .zmb-menu .menu-item-has-children > a:after {
      display: none; }
  .zmb-wrap .zmb-menu a {
    text-decoration: none; }
  .zmb-wrap .wpcf7 .wpcf7-form input[type=text], .zmb-wrap .wpcf7 .wpcf7-form input[type=number], .zmb-wrap .wpcf7 .wpcf7-form input[type=email],
  .zmb-wrap .wpcf7 .wpcf7-form input[type=password], .zmb-wrap .wpcf7 .wpcf7-form input[type=tel], .zmb-wrap .wpcf7 .wpcf7-form input[type=search],
  .zmb-wrap .wpcf7 .wpcf7-form select, .zmb-wrap .wpcf7 .wpcf7-form textarea {
    width: 100%;
    font-weight: normal; }
  .zmb-wrap .wpcf7 .wpcf7-form textarea {
    height: 150px; }
  .zmb-wrap .wpcf7 .wpcf7-form p > label {
    width: 100%; }
  .zmb-wrap .wpcf7 .wpcf7-form .wpcf7-submit {
    background-color: #262626;
    color: #fff;
    background-image: none;
    line-height: inherit;
    padding: 7px 14px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 0;
    float: right; }
    .zmb-wrap .wpcf7 .wpcf7-form .wpcf7-submit:hover {
      background-color: #49c3df; }
  .zmb-wrap .wpcf7 .wpcf7-form .wpcf7-response-output {
    margin: 15px 0;
    width: 100%; }
  .zmb-wrap .wpb_gmaps_widget .wpb_wrapper {
    padding: 0; }
  .zmb-wrap:hover {
    overflow: visible; }

/* Menu Vertical Desktop */
/*.zmb-wrap.zmb-is-vertical-menu {
  width: 200px;
  max-width: 100%;
  display: inline-block;
  background-color: #fff;
  overflow: visible; }
  .zmb-wrap.zmb-is-vertical-menu .zmb-menu {
    width: 100%;
    margin: 0;
    padding: 0; }
    .zmb-wrap.zmb-is-vertical-menu .zmb-menu > .menu-item {
      width: 100%;
      border-bottom: 1px solid #ebebeb; }
      .zmb-wrap.zmb-is-vertical-menu .zmb-menu > .menu-item > a {
        display: inline-block;
        width: 100%; }
      .zmb-wrap.zmb-is-vertical-menu .zmb-menu > .menu-item:last-child {
        border-bottom: none; }
      .zmb-wrap.zmb-is-vertical-menu .zmb-menu > .menu-item.zmb-social > a, .zmb-wrap.zmb-is-vertical-menu .zmb-menu > .menu-item.zmb-icon > a, .zmb-wrap.zmb-is-vertical-menu .zmb-menu > .menu-item.logo > a {
        padding: 20px 20px; }
    .zmb-wrap.zmb-is-vertical-menu .zmb-menu .menu-item-has-children .zmb-dropdown-toggle .caret {
      position: absolute;
      left: auto;
      right: 15px;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .zmb-wrap.zmb-is-vertical-menu .zmb-menu .menu-item-has-children .zmb-dropdown-toggle .caret:before {
        font-family: FontAwesome;
        content: "\f105"; }
    .zmb-wrap.zmb-is-vertical-menu .zmb-menu .menu-item-has-children > .sub-menu {
      position: absolute;
      left: 100%;
      right: auto;
      top: 0;
      bottom: auto; }*/

/* Menu responsive */
.zmb-clone-wrap {
  display: none;
  width: 100%;
  min-width: 140px;
  max-width: 440px;
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000; }
  .zmb-clone-wrap > .zmb-panels {
    background: inherit;
    border-color: inherit;
    position: absolute;
    margin-top: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    box-sizing: border-box; }
    .zmb-clone-wrap > .zmb-panels > .zmb-panel {
      display: block;
      -webkit-overflow-scrolling: touch;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 20px;
      background: inherit;
      border-color: inherit;
      position: absolute;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      box-sizing: border-box; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .menu-item {
        position: static; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .menu-item .dropdown-toggle {
          display: none; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu {
        display: block;
        float: none;
        margin: 0 -20px;
        padding: 0; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item {
          display: inline-block;
          width: 100%;
          border-left: none;
          border-right: none;
          list-style: none;
          position: relative;
          border-bottom: 1px solid #ccc;
          padding: 0 20px; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item button.zmb-dropdown-toggle, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item button.zmb-dropdown-toggle {
            display: none; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item .caret, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item .caret {
            display: none; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item > a, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item > a {
            position: relative;
            display: inline-block;
            width: 100%;
            color: #1a1a1a;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            text-transform: uppercase; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item > a .item-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item > a .item-icon {
              min-width: 16px;
              margin-right: 7px; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item > a:hover, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item > a:hover {
              color: #49c3df; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item > a:after, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item > a:after {
              display: none; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item .zmb-next-panel, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item .zmb-next-panel {
            background: rgba(3, 2, 1, 0);
            width: 50px;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            text-align: center; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item .zmb-next-panel:before, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item .zmb-next-panel:before {
              content: "\f105";
              font-family: FontAwesome; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item.zmb-cart .zmb-cart-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item.zmb-cart .zmb-cart-icon {
            line-height: 40px; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item.zmb-social .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item.zmb-icon .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu > .menu-item.logo .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item.zmb-social .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item.zmb-icon .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu > .menu-item.logo .zmb-social-icon {
            line-height: 40px; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zmb-cart .zmb-cart-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zmb-cart .zmb-cart-icon {
          position: relative;
          font-size: 18px;
          line-height: 40px;
          width: 40px;
          height: 40px;
          display: block; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zmb-cart .zmb-cart-icon .zmb-mini-cart-count, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zmb-cart .zmb-cart-icon .zmb-mini-cart-count {
            position: absolute;
            color: #fff;
            background-color: #49c3df;
            font-size: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            line-height: 20px;
            text-align: center;
            top: 0;
            right: 0; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zmb-social .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zmb-icon .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .logo .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zmb-social .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zmb-icon .zmb-social-icon, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .logo .zmb-social-icon {
          font-size: 16px; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zanmenu-content > .vc_row, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zanmenu-content > .vc_row {
          margin-left: 0;
          margin-right: 0;
          padding-top: 20px;
          padding-bottom: 20px; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zanmenu-content > .vc_row > .wpb_column, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zanmenu-content > .vc_row > .wpb_column {
            width: 100%;
            margin-bottom: 20px; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zanmenu-content > .vc_row > .wpb_column > .vc_column-inner, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zanmenu-content > .vc_row > .wpb_column > .vc_column-inner {
              padding-left: 20px;
              padding-right: 20px; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zanmenu-content > .vc_row > .wpb_column .wpb_column, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zanmenu-content > .vc_row > .wpb_column .wpb_column {
              width: 100%;
              margin-bottom: 20px; }
              .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-menu .zanmenu-content > .vc_row > .wpb_column .wpb_column:last-child, .zmb-clone-wrap > .zmb-panels > .zmb-panel .sub-menu .zanmenu-content > .vc_row > .wpb_column .wpb_column:last-child {
                margin-bottom: 0; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 {
        width: 100%; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form {
          width: 100%; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form input[type=text], .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form input[type=number], .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form input[type=email],
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form input[type=password], .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form input[type=tel], .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form input[type=search],
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form select, .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form textarea {
            width: 100%;
            font-weight: normal; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form textarea {
            height: 150px; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form p > label {
            width: 100%; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form .wpcf7-submit {
            background-color: #262626;
            color: #fff;
            background-image: none;
            line-height: inherit;
            padding: 7px 14px;
            text-transform: uppercase;
            font-size: 12px;
            border: none;
            border-radius: 0;
            float: right; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form .wpcf7-submit:hover {
              background-color: #49c3df; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpcf7 .wpcf7-form .wpcf7-response-output {
            margin: 15px 0;
            width: 100%; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap {
        width: 100%;
        padding: 20px; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap a {
          text-decoration: none; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list {
          margin: 0;
          padding: 0; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ebebeb; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .remove {
              position: absolute;
              top: 0;
              right: 0;
              margin: 0;
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 20px;
              padding: 0;
              text-align: center; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-thumb-wrap {
              float: left;
              margin-right: 10px; }
              .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-thumb-wrap a {
                width: auto;
                padding: 0; }
                .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-thumb-wrap a img {
                  width: 90px;
                  height: auto;
                  margin: 0; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info {
              display: block;
              float: none;
              overflow: hidden; }
              .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info > a {
                width: 100%;
                margin: 0;
                padding: 10px 0;
                font-size: 14px; }
              .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info span {
                color: #616161; }
              .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list .mini_cart_item .zmb-mini-cart-info .zmb-product-name {
                color: #000; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .zmb-btn {
          margin-bottom: 10px; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .products-list {
        margin: 0; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .products-list .product-item:last-child {
          margin-bottom: 0;
          padding-bottom: 0; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-single-product-wrap .single-product-inner {
        margin-bottom: 15px; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpb_gmaps_widget .wpb_wrapper {
        padding: 0; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpb_content_element {
        margin-bottom: 20px; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .wpb_content_element:last-child {
          margin-bottom: 0; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .zan-custom-menu-wrap {
        margin-bottom: 20px; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zan-custom-menu-wrap:last-child {
          margin-bottom: 0; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget {
        margin: 0;
        padding: 0;
        border: none; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget .widgettitle {
          position: relative;
          line-height: 24px;
          font-size: 12px;
          color: #000000;
          margin-top: 0;
          margin-bottom: 20px;
          padding-bottom: 5px;
          text-transform: uppercase;
          text-align: left;
          font-family: Montserrat;
          font-weight: 400;
          font-style: normal; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget .widgettitle:after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 2px;
            max-width: 100%;
            background-color: #434343; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget ul {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          border: none;
          padding: 0;
          margin: 0; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget ul > li {
            list-style: none;
            display: inline-block;
            width: 100%;
            border: none;
            color: #7c7c7c;
            font-size: 13px;
            position: relative;
            background-color: transparent; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget ul > li > a {
              color: inherit;
              display: block;
              font-size: inherit;
              margin: 0;
              padding-left: 15px;
              padding-right: 0;
              padding-top: 0;
              padding-bottom: 0;
              width: 100%;
              line-height: 24px;
              text-decoration: none; }
              .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget ul > li > a:hover {
                color: #49c3df; }
            .zmb-clone-wrap > .zmb-panels > .zmb-panel .widget ul > li:before {
              position: absolute;
              content: "\f105";
              font-family: FontAwesome;
              width: 15px;
              line-height: 24px; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-btn.zmb-with-100 {
        width: 100%; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-btn.zmb-with-100.zmb-btn-white-o {
          background-color: transparent; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-btn.zmb-with-100.zmb-btn-white-o a {
            background-color: transparent;
            background-image: none;
            border: 2px solid #4f4f4f;
            color: #fff;
            padding: 10px 20px; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-btn.zmb-with-100.zmb-btn-white-o:hover a {
            background-color: #49c3df; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-tabs-container {
        display: none !important; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .vc_tta-panel-heading {
        display: block !important;
        width: 100%;
        border-color: #dcdcdc; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .vc_tta-panel-heading:hover {
          background-color: #f0f0f0; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .vc_tta-panel-body > .vc_row > .wpb_column {
        width: 100%;
        padding-left: 0;
        padding-right: 0; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .vc_tta-panel-body > .vc_row > .wpb_column > .vc_column-inner {
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 30px; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .vc_tta-panel-body .widget .widgettitle:after {
        background-color: #e7e7e7; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-btn {
        background-color: #262626;
        color: #fff; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-btn a {
          background-color: inherit;
          color: inherit;
          background-image: none;
          line-height: inherit;
          padding: 7px 14px;
          text-transform: uppercase;
          font-size: 12px;
          border: none; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-btn a.vc_btn3-icon-right {
            padding-right: 34px; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-btn a.vc_btn3-icon-left {
            padding-left: 34px; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-btn:hover {
          background-color: #49c3df;
          color: #fff; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-read-more {
        color: #49c3df;
        border: none;
        background: none;
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center; }
        .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-read-more a {
          color: inherit;
          border: none;
          background: none;
          border-radius: 0;
          padding: 3px 0;
          text-transform: uppercase;
          border-bottom: 1px solid transparent; }
          .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel .zmb-read-more a:hover {
            border-bottom: 1px solid #49c3df; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel .vc_tta-panel.vc_active .vc_tta-panel-heading {
        background-color: #f0f0f0;
        border-color: #dcdcdc; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel.zmb-panel-opened {
        z-index: 3; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel.zmb-sub-opened {
        z-index: 2; }
      .zmb-clone-wrap > .zmb-panels > .zmb-panel.zmb-hidden {
        display: none !important; }
  .zmb-clone-wrap .zmb-panels-actions-wrap {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    position: relative; }
    .zmb-clone-wrap .zmb-panels-actions-wrap .zmb-current-panel-title {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      float: none;
      overflow: hidden;
      font-size: 1.1em; }
    .zmb-clone-wrap .zmb-panels-actions-wrap .zmb-prev-panel {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-right: 1px solid #ccc;
      text-decoration: none;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0; }
      .zmb-clone-wrap .zmb-panels-actions-wrap .zmb-prev-panel:before {
        content: "\f104";
        font-family: FontAwesome; }
      .zmb-clone-wrap .zmb-panels-actions-wrap .zmb-prev-panel:hover {
        background-color: #ccc; }
    .zmb-clone-wrap .zmb-panels-actions-wrap .zmb-close-btn {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-left: 1px solid #ccc;
      text-decoration: none;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0; }
      .zmb-clone-wrap .zmb-panels-actions-wrap .zmb-close-btn:hover {
        background-color: #ccc; }
  .zmb-clone-wrap.active {
    display: block; }

/* Sticky Menu */
.zmb-sticky-menu-wrap {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  top: auto; }
  .zmb-sticky-menu-wrap .zmb-sticky-menu-inner {
    padding: 0;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    z-index: 10001;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.09); }
    .zmb-sticky-menu-wrap .zmb-sticky-menu-inner .zmb-sticky-inner-container {
      padding-left: 0;
      padding-right: 0; }
    .zmb-sticky-menu-wrap .zmb-sticky-menu-inner .zmb-menu-wrap-sticky {
      display: inline-block;
      width: 100%;
      background-color: #fff; }
      .zmb-sticky-menu-wrap .zmb-sticky-menu-inner .zmb-menu-wrap-sticky .zmb-menu-sticky {
        margin: 0; }
  .zmb-sticky-menu-wrap.on-menu-sticky {
    visibility: visible;
    opacity: 1; }

/* Menu Logo */
.zmb-container {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative; }
  .zmb-container .zmb-menu {
    float: right;padding-right: 80px; }
  .zmb-container .zmb-logo {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .zmb-container.logo-position-right .zmb-logo {
    left: auto;
    right: 0; }
  .zmb-container.logo-position-right .zmb-menu {
    float: left; }

/* Sliding Content */
.zmb-sliding-content-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: -100%;
  z-index: 100002;
  max-width: 100%;
  background-color: #fff;
  overflow: auto; }
  .zmb-sliding-content-wrap .zmb-sliding-content-inner {
    position: relative; }
    .zmb-sliding-content-wrap .zmb-sliding-content-inner .zmb-close-sliding {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      z-index: 1;
      margin: 0;
      padding: 0;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #ebebeb;
      background-color: #fff; }
    .zmb-sliding-content-wrap .zmb-sliding-content-inner > .vc_row {
      padding: 30px 15px;
      margin: 0; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner > .vc_row .wpb_column {
        width: 100% !important; }
    .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart {
      display: block;
      width: 100%;
      border-color: #ebebeb;
      border-radius: 0;
      border: none; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart thead {
        display: none; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart tfoot {
        display: none; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart tbody {
        display: block;
        width: 100%; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart tr, .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart th, .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart td {
        display: block;
        width: 100%;
        border-color: #ebebeb; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart tr {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border: none;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
        position: relative; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart th, .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart td {
        border: none;
        padding: 5px 0; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart .product-thumbnail {
        text-align: center;
        width: auto;
        max-width: 110px;
        float: left;
        padding-left: 0;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0; }
        .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart .product-thumbnail img {
          width: 110px;
          max-width: 100%;
          height: auto; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart .product-remove {
        position: absolute;
        width: 21px;
        height: 21px;
        right: 0;
        top: 0;
        z-index: 1;
        text-align: center; }
        .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart .product-remove .remove {
          width: 21px;
          height: 21px;
          line-height: 21px;
          text-align: center;
          margin: 0 auto; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart .product-name {
        padding-right: 24px; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .shop_table.cart .product-quantity .qty {
        padding: 0 8px; }
    .zmb-sliding-content-wrap .zmb-sliding-content-inner .woocommerce .coupon {
      width: 100%; }
    .zmb-sliding-content-wrap .zmb-sliding-content-inner .woocommerce .cart-collaterals {
      width: 100%; }
      .zmb-sliding-content-wrap .zmb-sliding-content-inner .woocommerce .cart-collaterals .cart_totals {
        width: 100%; }
  .zmb-sliding-content-wrap.active {
    display: block; }

/*# sourceMappingURL=default.css.map */

.zmb-wrap.zmb-is-vertical-menu .zmb-menu .menu-item-has-children > .sub-menu {
 left: 0 !important;
 max-width: 100% !important;
 width: 100% !important;
 top: 82px !important;
 } 
