@import "params_default";
@import "effects_default";

body {
  &.zmb-is-opened {
    &:after {
      display: block !important;
      content: ' ';
      position: fixed;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
  }
}

.zmb-heading {
  position: relative;
  line-height: 24px;
  font-size: 12px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 2px;
    max-width: 100%;
    background-color: #e7e7e7;
  }
  &.zmb-heading-white {
    &:after {
      background-color: #434343;
    }
  }
}

.heading-for-dark-bg {

}

.zmb-small-title {
  @include small_title;
  a {
    color: inherit;
  }
}

.zanmenu-content {
  .container {
    max-width: 100%;
  }
  .zmb-btn {
    background-color: #262626;
    color: #fff;
    a {
      background-color: #262626 !important;
      color: #fff !important;
      background-image: none;
      line-height: inherit;
      padding: 7px 14px;
      text-transform: uppercase;
      font-size: 12px;
      border: none;
      &.vc_btn3-icon-left {
        padding-left: 34px;
      }
      &.vc_btn3-icon-right {
        padding-right: 34px;
      }
      &:hover {
        background-color: $default_bg_color !important;
        color: #fff !important;
        border: none;
      }
      &.zmb-btn-cart {
        display: inline-block;
        background-color: #262626;
        color: #fff;
        background-image: none;
        line-height: inherit;
        padding: 7px 14px;
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        &:hover {
          color: #fff;
          background-color: $default_bg_color;
        }
      }
    }
  }
}

/* ZMB Mini Cart */
.zanmenu-content {
  .zmb-mini-cart-wrap {
    .button {
      display: inline-block;
      background-color: #262626;
      color: #fff;
      background-image: none;
      line-height: inherit;
      padding: 7px 14px;
      text-transform: uppercase;
      font-size: 12px;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      &:hover {
        color: #fff;
        background-color: #49c3df;
      }
    }
  }
}

/* Simple title - description (default is style_1)*/
.zmb-simple-title-wrap {
  margin-bottom: 20px;
  .simple-title-inner {
    position: relative;
    .simple-title {
      font-weight: 700;
      font-size: 14px;
      color: #000;
      margin: 0;
    }
    .short-desc {
      font-size: 13px;
      color: #7c7c7c;
    }
    .icon-wrap {
      position: absolute;
    }
  }
  &.has-icon {
    .text-wrap {
      padding-left: 15px;
    }
  }

  /* Simple title style_2 */
  &.simple-title-style_2 {
    padding-bottom: 20px;
    .simple-title-inner {
      .simple-title {
        font-weight: 400;
      }
      .short-desc {

      }
      .icon-wrap {
        font-size: 22px;
        color: #000;
      }
    }
    &.has-icon {
      .text-wrap {
        padding-left: 40px;
      }
    }
  }
  &.simple-title-style_3 {
    .icon-wrap {
      font-size: 100px;
      display: block;
      position: relative;
    }
    .text-wrap {
      padding: 0;
    }
    .simple-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 15px;
    }
    .short-desc {
      font-size: 13px;
    }
  }
  &.simple-title-style_4 {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    .icon-wrap {
      font-size: 25px;
      background-color: #efefef;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      width: 68px;
      height: 68px;
      line-height: 68px;
      text-align: center;
      overflow: hidden;
    }
    .text-wrap {
      padding-left: 85px;
    }
    .simple-title {
      font-size: 16px;
      line-height: 68px;
    }
    .short-desc {
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &.address {
    .icon-wrap {
      font-size: 16px;
    }
    .short-desc {
      font-size: 13px;
    }
  }
}

/* Posts List (default is style_1) */
.zmb-posts-list-wrap {
  .zmb-posts-list {
    .item-post {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #3a3a3a;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    .left-part {
      display: block;
      float: left;
      overflow: hidden;
      figure {
        width: 70px;
        height: auto;
        margin-right: 15px;
        img {
          margin: 0;
          padding: 0;
        }
      }
      a {
        padding: 0;
      }
      .post-date {
        width: 70px;
        height: 70px;
        display: block;
        color: #cecece;
        border: 2px solid #cecece;
        margin-right: 15px;
        padding: 6px 10px;
        span {
          display: block;
          width: 100%;
          height: 50%;
          font-size: 18px;
          text-align: center;
          position: relative;
        }
        .post-day {
          color: inherit;
          border-color: inherit;
          margin-bottom: 7px;
          &:after {
            content: ' ';
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -3.5px;
            background-color: #cecece;
          }
        }
        .post-month {;
          color: inherit;
        }
        .post-year {
          color: inherit;
        }
      }
    }
    .right-part {
      display: block;
      float: none;
      overflow: hidden;
      h5 {
        @include small_title;
        a {
          padding: 0;
          color: inherit;
        }
      }
      .post-excerpt-wrap {
        font-size: 13px;
      }
    }
  }
}

/* Single Post (shortcode) */
.zmb-single-post-wrap {
  padding-bottom: 15px;
  .zmb-single-post-inner {
    figure {
      position: relative;
      margin-bottom: 15px;
      img {
        width: 100%;
        height: auto;
      }
      .icon-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background-color: $default_bg_color;
      }
    }
    .zmb-small-title {
      a {
        padding: 0;
        margin: 0;
        color: inherit;
      }
    }
    .post-excerpt-wrap {
      margin-bottom: 10px;
      font-size: 13px;
    }
    .zmb-read-more {
      padding: 0;
      margin: 0;
      font-size: 11px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

/* ZMB News Letter */
.zmb-newsleter-wrap {
  .zmb-newsletter {
    .short-desc {
      margin-bottom: 15px;
    }
  }
  .newsletter-form-wrap {
    width: 100%;
    .form-newsletter {
      width: 100%;
      input[name="email"] {
        width: 100%;
        border: none;
        border-radius: 0;
        margin-bottom: 10px;
      }
    }
    .zmb-btn {
      float: right;
      padding: 7px 25px;
      border-radius: 0;
      font-size: 12px;
      i {
        margin-right: 7px;
      }
    }
  }
  .return-message {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
  }
}

/* ZMB Product List */
.zmb-products-list-wrap {
  background: none;
  .product-item {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100%;
    background: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    figure {
      display: block;
      float: left;
      width: 82px;
      margin-right: 15px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .product-info-wrap {
      display: block;
    }
    .product-item-title {
      display: block;
      padding: 0;
      width: 100%;
      line-height: 24px;
      font-size: 14px;
      font-weight: bold;
      color: inherit;
    }
    .price {
      font-size: 14px;
      color: $default_bg_color;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

/* ZMB Single Product */
.zmb-single-product-wrap {
  .single-product-inner {
    text-align: center;
    figure {
      img {
        width: 100%;
        height: auto;
      }
    }
    h3 {
      font-size: 14px;
      color: #49c3df;
    }
    .price {
      font-size: 14px;
      color: $default_bg_color;
    }
  }
  margin-bottom: 15px;
}

/* ZMB Image Item With Text */
.zmb-img-item-with-text-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  .item-inner {
    .img-wrap {
      float: left;
      width: 60px;
      height: 60px;
      overflow: hidden;
      margin-right: 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-wrap {
      float: none;
      display: block;
      overflow: hidden;
      .img-item-title {
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        a {
          padding: 0;
          margin: 0;
          color: inherit;
          text-decoration: none;
          &:hover {
            color: $default_bg_color;
          }
        }
      }
      .short-desc {
        font-size: 13px;
        color: #7c7c7c;
      }
    }
  }
}

/* Menu Desktop */
.zmb-wrap {
  width: 100%;
  overflow: hidden;
  .zmb-toggle-menu-mobile {
    display: none;
    padding: 10px 0;
    float: left;
    .icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      border: 1px solid #333;
      padding: 10px;
      float: left;
      margin-left: 15px;
      margin-right: 15px;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        float: left;
        margin-bottom: 4px;
      }
    }
    &:hover {
      .icon {
        color: $default_bg_color;
        span {
          background-color: $default_bg_color;
        }
      }
    }
  }
  .zmb-menu {
    > li {
      display: inline-block;
      position: relative;
      color: #000;
      .sub-menu {
        position: absolute;
        top: auto;
        left: 0;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
        min-width: 225px;
        border-top: 3px solid $default_bg_color;
        /*
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        */
        margin: 0;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        @include sub_menu_default_effect;
        > .menu-item {
          color: #000;
          display: inline-block;
          width: 100%;
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: 1px solid #ebebeb;
          a {
            display: inline-block;
            color: inherit;
            width: 100%;
            padding: 9px 20px;
            line-height: 24px;
            .item-icon {
              min-width: 16px;
              margin-right: 7px;
            }
            &:hover {
              color: $default_bg_color;
            }
          }
          > .sub-menu {
            border: 1px solid #ebebeb;
            margin-top: -1px;
            left: 100%;
            top: 0;
          }
          &:hover {
            > .sub-menu {
              visibility: visible;
              opacity: 1;
            }
          }
          &:last-child {
            border-bottom: none;
          }
          &.menu-item-has-children {
            &:after {
              font-family: FontAwesome;
              content: "\f105";
              position: absolute;
              line-height: 24px;
              padding: 9px 20px;
              top: 0;
              right: 0;
              z-index: 1;
            }
          }
        }
        .zanmenu-content {
          padding-left: 15px;
          padding-right: 15px;
          > .vc_row {
            padding: 30px 0px;
          }
          ul {
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            border: none;
            > li {
              list-style: none;
              display: inline-block;
              width: 100%;
              border: none;
              font-size: 13px;
              position: relative;
            }
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
        }
        .vc_tta-container {
          margin: 0;
          .vc_tta-tabs-container {
            float: left;
            display: block;
            overflow: hidden;
            width: 25%;
            margin: 0;
            .vc_tta-tabs-list {
              position: relative;
              left: auto;
              right: auto;
              top: auto;
              bottom: auto;
              width: 100%;
              border-left: none;
              border-top: none;
              border-bottom: none;
              .vc_tta-tab {
                display: block;
                border-left: none;
                border-right: none;
                border-top: none;
                border-bottom: 1px solid #ebebeb;
                > a {
                  width: 100%;
                  background-color: #fff;
                  border: none;
                  border-radius: 0;
                }
                &.vc_active {
                  > a {
                    background-color: #2a2a2a;
                    color: $default_bg_color;
                  }
                }
              }
            }
          }
        }
        .vc_tta-panels-container {
          display: block;
          float: none;
          overflow: hidden;
          .vc_tta-panels {
            border-left: 1px solid #ebebeb;
            border-right: none;
            border-top: none;
            border-bottom: none;
          }
          .vc_tta-panel-body {
            padding: 0;
            > .vc_row {
              padding: 30px;
            }
            .wpb_single_image {
              display: block;
              .vc_single_image-wrapper {
                display: block;
                img {
                  width: 100%;
                }
              }
            }
            .widget {
              .widgettitle {
                color: #000000;
                &:after {
                  background-color: #e7e7e7;
                }
              }
              ul {
                > li {
                  color: #7c7c7c;
                  &:hover {
                    color: $default_bg_color;
                  }
                }
              }
            }
            .zanmb-custom-menu-wrap {
              margin-bottom: 30px;
              .zanmb-custom-menu {
                margin-bottom: 0;
              }
            }
            .zmb-products-list-wrap {
              .product-item {
                border-bottom: 1px solid #ebebeb;
                &:last-child {
                  border-bottom: none;
                }
              }
            }
          }
          /* ZMB Button in tab */
          .zmb-btn {
            background-color: #262626;
            color: #fff;
            a {
              background-color: inherit;
              color: inherit;
              background-image: none;
              line-height: inherit;
              padding: 7px 14px;
              text-transform: uppercase;
              font-size: 12px;
              border: none;
              &.vc_btn3-icon-left {
                padding-left: 34px;
                .vc_btn3-icon {
                  left: 14px;
                }
              }
              &.vc_btn3-icon-right {
                padding-right: 34px;
                .vc_btn3-icon {
                  right: 14px;
                }
              }
              .vc_btn3-icon {
                width: 20px;
              }
            }
            &:hover {
              background-color: $default_bg_color;
              color: #fff;
            }
          }
          /* ZMB read more link */
          .zmb-read-more {
            color: $default_bg_color;
            border: none;
            background: none;
            margin: 0 auto;
            display: block;
            float: none;
            text-align: center;
            a {
              color: inherit;
              border: none;
              background: none;
              border-radius: 0;
              padding: 3px 0;
              text-transform: uppercase;
              border-bottom: 1px solid transparent;
              &:hover {
                border-bottom: 1px solid $default_bg_color;
              }
            }
          }
        }
        /* ZMB Btn */
        .zmb-btn {
          &.zmb-btn-white-o {
            background-color: transparent;
            a {
              background-color: transparent;
              background-image: none;
              border: 2px solid #4f4f4f;
              color: #fff;
              padding: 10px 20px;
            }
            &:hover {
              a {
                background-color: $default_bg_color;
              }
            }
          }
          &.zmb-with-100 {
            width: 100%;
            a {
              width: 100%;
            }
          }
        }
        .zmb-products-list-wrap {
          .product-item {
            border-bottom: 1px solid #3a3a3a;
            &:last-child {
              border-bottom: none;
            }
          }
        }
        .widget {
          padding: 0;
          border: none;
          margin: 0;
          .widgettitle {
            position: relative;
            line-height: 24px;
            font-size: 13px;
            color: #000000;
            margin-top: 0;
            margin-bottom: 20px;
            padding-bottom: 5px;
            text-transform: uppercase;
            text-align: left;
            font-family: Open Sans;
            font-weight: 400;
            font-style: normal;
            &:after {
              content: ' ';
              display: block;
              position: absolute;
              bottom: 0;
              width: 30px;
              height: 2px;
              max-width: 100%;
              background-color: #434343;
            }
          }
          ul {
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            border: none;
            margin: 0;
            > li {
              list-style: none;
              display: inline-block;
              width: 100%;
              border: none;
              color: #7c7c7c;
              font-size: 13px;
              position: relative;
              background-color: transparent;
              > a {
                color: inherit;
                display: block;
                font-size: inherit;
                margin: 0;
                padding-left: 15px;
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 0;
                width: 100%;
                line-height: 24px;
              }
              &:before {
                position: absolute;
                content: "\f105";
                font-family: FontAwesome;
                width: 15px;
                line-height: 24px;
              }
              &:hover {
                color: $default_bg_color;
              }
            }
            &:before {
              display: none;
            }
            &:after {
              display: none;
            }
          }
        }
        &.zmb-dop-direction-left {
          left: 0;
          right: auto;
        }
        &.zmb-dop-direction-right {
          left: auto;
          right: 0;
        }
        &:before, &:after {
          display: none;
        }
      }
      > a {
        line-height: 24px;
        display: inline-block !important;
        margin: 0;
        padding: 20px 20px;
        width: auto;
        height: auto;
        position: relative;
        left: auto;
        top: auto;
        text-transform: uppercase;
        color: inherit;
      }
      &.current_page_item {
        > a {
          color: #fff;
          background-color: $default_bg_color;
        }
        &.logo {
          > a {
            background-color: transparent;
          }
        }
      }
      &.zmb-social, &.zmb-icon, &.logo {
        > a {
          padding: 20px 10px;
        }
      }
      &.logo {
        > a {
          position: relative;
          width: 90px;
          > img {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform_translate(-50%, -50%);
          }
        }
      }
      > ul.sub-menu {
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
      }
      &:hover {
        background-color: $default_bg_color;
        > a {
          color: #fff;
        }
        > .sub-menu {
          visibility: inherit;
          opacity: 1;
          filter: alpha(opacity=100);
        }
        .zmb-dropdown-toggle {
          .caret {
            color: #fff;
          }
        }
      }
      /* Mini Cart on menu */
      &.zmb-cart {
        > .sub-menu {
          width: auto;
          right: 0;
          left: auto;
        }
        .zmb-mini-cart-url {

        }
        .zmb-cart-icon {
          position: relative;
          font-size: 18px;
          line-height: 24px;
          .zmb-mini-cart-count {
            position: absolute;
            color: #fff;
            background-color: $default_bg_color;
            font-size: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            line-height: 20px;
            text-align: center;
            top: -10px;
            right: -18px;
          }
        }
        .zmb-mini-cart-wrap {
          width: 300px;
          .cart_list {
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 0;
            .mini_cart_item {
              position: relative;
              display: inline-block;
              width: 100%;
              margin-bottom: 15px;
              padding-bottom: 15px;
              border-bottom: 1px solid #ebebeb;
              .zmb-mini-cart-thumb-wrap {
                float: left;
                margin-right: 10px;
                a {
                  width: auto;
                  padding: 0;
                }
                img {
                  width: 90px;
                  height: auto;
                }
              }
              .zmb-mini-cart-info {
                display: block;
                float: none;
                overflow: hidden;
                > a {
                  width: 100%;
                  margin: 0;
                  padding: 10px 0;
                  font-size: 14px;
                }
                span {
                  color: #616161;
                }
                .zmb-product-name {
                  color: #000;
                }
              }
              .remove {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 20px;
                padding: 0;
                text-align: center;
              }
              &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
              }
            }
          }
          .total {

          }
          .zmb-btn {
            margin-bottom: 10px;
          }
        }
      }
    }
    .menu-item-has-children {
      position: relative;
      &.zanmenu-menu-item {
        position: static;
        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
        &.zmb-position-relative {
          position: relative;
        }
      }
      .zmb-dropdown-toggle {
        position: relative;
        .caret {
          border: none;
          position: absolute;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          left: 50%;
          bottom: 5px;
          margin-left: -10px;
          color: #848484;
          &:before {
            font-family: FontAwesome;
            content: "\f107"; /* fa fa-angle-down */
          }
        }
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      > a {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  /* Contact Form 7 */
  .wpcf7 {
    .wpcf7-form {
      input[type=text], input[type=number], input[type=email],
      input[type=password], input[type=tel], input[type=search],
      select, textarea {
        width: 100%;
        font-weight: normal;
      }
      textarea {
        height: 150px;
      }
      p {
        > label {
          width: 100%;
        }
      }
      .wpcf7-submit {
        background-color: #262626;
        color: #fff;
        background-image: none;
        line-height: inherit;
        padding: 7px 14px;
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        border-radius: 0;
        float: right;
        &:hover {
          background-color: $default_bg_color;
        }
      }
      .wpcf7-response-output {
        margin: 15px 0;
        width: 100%;
      }
    }
  }

  /* VC Gmap */
  .wpb_gmaps_widget {
    .wpb_wrapper {
      padding: 0;
    }
  }
  &:hover {
    overflow: visible;
  }
}

/* Menu Vertical Desktop */
.zmb-wrap.zmb-is-vertical-menu {
  width: 200px;
  max-width: 100%;
  display: inline-block;
  background-color: #fff;
  overflow: visible;
  .zmb-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    > .menu-item {
      width: 100%;
      border-bottom: 1px solid #ebebeb;
      > a {
        display: inline-block;
        width: 100%;
      }
      &:last-child {
        border-bottom: none;
      }
      &.zmb-social, &.zmb-icon, &.logo {
        > a {
          padding: 20px 20px;
        }
      }
    }
    .menu-item-has-children {
      .zmb-dropdown-toggle {
        .caret {
          position: absolute;
          left: auto;
          right: 15px;
          top: 50%;
          bottom: auto;
          @include transform_translateY50;
          &:before {
            font-family: FontAwesome;
            content: "\f105";
          }
        }
      }
      > .sub-menu {
        position: absolute;
        left: 100%;
        right: auto;
        top: 0;
        bottom: auto;
      }
    }
  }
}

/* Menu responsive */
.zmb-clone-wrap {
  display: none;
  width: 100%;
  min-width: 140px;
  max-width: 440px;
  background: #f3f3f3;
  border-color: rgba(0, 0, 0, .1);
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000;
  > .zmb-panels {
    background: inherit;
    border-color: inherit;
    position: absolute;
    margin-top: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    box-sizing: border-box;
    > .zmb-panel {
      display: block;
      -webkit-overflow-scrolling: touch;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 20px;
      background: inherit;
      border-color: inherit;
      position: absolute;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      box-sizing: border-box;
      .menu-item {
        position: static;
        .dropdown-toggle {
          display: none;
        }
      }
      .zmb-menu, .sub-menu {
        display: block;
        float: none;
        margin: 0 -20px;
        padding: 0;
        > .menu-item {
          display: inline-block;
          width: 100%;
          border-left: none;
          border-right: none;
          list-style: none;
          position: relative;
          border-bottom: 1px solid #ccc;
          padding: 0 20px;
          .zmb-dropdown-toggle {

          }
          button {
            &.zmb-dropdown-toggle {
              display: none;
            }
          }
          .caret {
            display: none;
          }
          > a {
            position: relative;
            display: inline-block;
            width: 100%;
            color: #1a1a1a;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            text-transform: uppercase;
            .item-icon {
              min-width: 16px;
              margin-right: 7px;
            }
            &:hover {
              color: $default_bg_color;
            }
            &:after {
              display: none;
            }
          }
          .zmb-next-panel {
            background: rgba(3, 2, 1, 0);
            width: 50px;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            text-align: center;
            &:before {
              content: "\f105";
              font-family: FontAwesome;
            }
          }
          &.zmb-cart {
            .zmb-cart-icon {
              line-height: 40px;
            }
          }
          &.zmb-social, &.zmb-icon, &.logo {
            .zmb-social-icon {
              line-height: 40px;
            }
          }
        }
        .zmb-cart {
          .zmb-mini-cart-url {

          }
          .zmb-cart-icon {
            position: relative;
            font-size: 18px;
            line-height: 40px;
            width: 40px;
            height: 40px;
            display: block;
            .zmb-mini-cart-count {
              position: absolute;
              color: #fff;
              background-color: $default_bg_color;
              font-size: 10px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              line-height: 20px;
              text-align: center;
              top: 0;
              right: 0;
            }
          }
        }
        .zmb-social, .zmb-icon, .logo {
          .zmb-social-icon {
            font-size: 16px;
          }
        }
        .zanmenu-content {
          > .vc_row {
            margin-left: 0;
            margin-right: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            > .wpb_column {
              width: 100%;
              margin-bottom: 20px;
              > .vc_column-inner {
                padding-left: 20px;
                padding-right: 20px;
              }
              .wpb_column {
                width: 100%;
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .wpcf7 {
        width: 100%;
        .wpcf7-form {
          width: 100%;
          input[type=text], input[type=number], input[type=email],
          input[type=password], input[type=tel], input[type=search],
          select, textarea {
            width: 100%;
            font-weight: normal;
          }
          textarea {
            height: 150px;
          }
          p {
            > label {
              width: 100%;
            }
          }
          .wpcf7-submit {
            background-color: #262626;
            color: #fff;
            background-image: none;
            line-height: inherit;
            padding: 7px 14px;
            text-transform: uppercase;
            font-size: 12px;
            border: none;
            border-radius: 0;
            float: right;
            &:hover {
              background-color: $default_bg_color;
            }
          }
          .wpcf7-response-output {
            margin: 15px 0;
            width: 100%;
          }
        }
      }
      .zmb-mini-cart-wrap {
        width: 100%;
        padding: 20px;
        a {
          text-decoration: none;
        }
        .cart_list {
          margin: 0;
          padding: 0;
          .mini_cart_item {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ebebeb;
            .remove {
              position: absolute;
              top: 0;
              right: 0;
              margin: 0;
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 20px;
              padding: 0;
              text-align: center;
            }
            .zmb-mini-cart-thumb-wrap {
              float: left;
              margin-right: 10px;
              a {
                width: auto;
                padding: 0;
                img {
                  width: 90px;
                  height: auto;
                  margin: 0;
                }
              }
            }
            .zmb-mini-cart-info {
              display: block;
              float: none;
              overflow: hidden;
              > a {
                width: 100%;
                margin: 0;
                padding: 10px 0;
                font-size: 14px;
              }
              span {
                color: #616161;
              }
              .zmb-product-name {
                color: #000;
              }
            }
          }
        }
        .zmb-btn {
          margin-bottom: 10px;
        }
      }

      .products-list {
        margin: 0;
        .product-item {
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }

      .zmb-single-product-wrap {
        .single-product-inner {
          margin-bottom: 15px;
        }
      }

      .wpb_gmaps_widget {
        .wpb_wrapper {
          padding: 0;
        }
      }

      .wpb_content_element {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .zan-custom-menu-wrap {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .widget {
        margin: 0;
        padding: 0;
        border: none;
        .widgettitle {
          position: relative;
          line-height: 24px;
          font-size: 12px;
          color: #000000;
          margin-top: 0;
          margin-bottom: 20px;
          padding-bottom: 5px;
          text-transform: uppercase;
          text-align: left;
          font-family: Montserrat;
          font-weight: 400;
          font-style: normal;
          &:after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: 0;
            width: 30px;
            height: 2px;
            max-width: 100%;
            background-color: #434343;
          }
        }
        ul {
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          border: none;
          padding: 0;
          margin: 0;
          > li {
            list-style: none;
            display: inline-block;
            width: 100%;
            border: none;
            color: #7c7c7c;
            font-size: 13px;
            position: relative;
            background-color: transparent;
            > a {
              color: inherit;
              display: block;
              font-size: inherit;
              margin: 0;
              padding-left: 15px;
              padding-right: 0;
              padding-top: 0;
              padding-bottom: 0;
              width: 100%;
              line-height: 24px;
              text-decoration: none;
              &:hover {
                color: $default_bg_color;
              }
            }
            &:before {
              position: absolute;
              content: "\f105";
              font-family: FontAwesome;
              width: 15px;
              line-height: 24px;
            }
          }
        }
      }

      .zmb-btn {
        &.zmb-with-100 {
          width: 100%;
          &.zmb-btn-white-o {
            background-color: transparent;
            a {
              background-color: transparent;
              background-image: none;
              border: 2px solid #4f4f4f;
              color: #fff;
              padding: 10px 20px;
            }
            &:hover {
              a {
                background-color: #49c3df;
              }
            }
          }
        }
      }

      .vc_tta-tabs-container {
        display: none !important;
      }
      .vc_tta-panel {
        .vc_tta-panel-heading {
          display: block !important;
          width: 100%;
          border-color: #dcdcdc;
          &:hover {
            background-color: #f0f0f0;
          }
        }
        .vc_tta-panel-body {
          > .vc_row {
            > .wpb_column {
              width: 100%;
              padding-left: 0;
              padding-right: 0;
              > .vc_column-inner {
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 30px;
              }
            }
          }
          .widget {
            .widgettitle {
              &:after {
                background-color: #e7e7e7;
              }
            }
          }
        }
        .zmb-btn {
          background-color: #262626;
          color: #fff;
          a {
            background-color: inherit;
            color: inherit;
            background-image: none;
            line-height: inherit;
            padding: 7px 14px;
            text-transform: uppercase;
            font-size: 12px;
            border: none;
            &.vc_btn3-icon-right {
              padding-right: 34px;
            }
            &.vc_btn3-icon-left {
              padding-left: 34px;
            }
          }
          &:hover {
            background-color: #49c3df;
            color: #fff;
          }
        }
        .zmb-read-more {
          color: #49c3df;
          border: none;
          background: none;
          margin: 0 auto;
          display: block;
          float: none;
          text-align: center;
          a {
            color: inherit;
            border: none;
            background: none;
            border-radius: 0;
            padding: 3px 0;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            &:hover {
              border-bottom: 1px solid #49c3df;
            }
          }
        }
        &.vc_active {
          .vc_tta-panel-heading {
            background-color: #f0f0f0;
            border-color: #dcdcdc;
          }
        }
      }

      &.zmb-panel-opened {
        z-index: 3;
      }
      &.zmb-sub-opened {
        z-index: 2;
      }
      &.zmb-hidden {
        display: none !important;
      }
    }
  }
  .zmb-panels-actions-wrap {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    position: relative;
    .zmb-current-panel-title {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: absolute;
      float: none;
      overflow: hidden;
      font-size: 1.1em;
    }
    .zmb-prev-panel {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-right: 1px solid #ccc;
      text-decoration: none;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      &:before {
        content: "\f104";
        font-family: FontAwesome;
      }
      &:hover {
        background-color: #ccc;
      }
    }
    .zmb-close-btn {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-left: 1px solid #ccc;
      text-decoration: none;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      &:hover {
        background-color: #ccc;
      }
    }
  }
  &.active {
    display: block;
  }
}

/* Sticky Menu */
.zmb-sticky-menu-wrap {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  top: auto;
  .zmb-sticky-menu-inner {
    padding: 0;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    z-index: 10001;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.09);
    .zmb-sticky-inner-container {
      padding-left: 0;
      padding-right: 0;
    }
    .zmb-container {

    }
    .zmb-menu-wrap-sticky {
      display: inline-block;
      width: 100%;
      background-color: #fff;
      .zmb-menu-sticky {
        margin: 0;
      }
    }
  }
  &.on-menu-sticky {
    visibility: visible;
    opacity: 1;
  }
}

/* Menu Logo */
.zmb-container {
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
  .zmb-menu {
    float: right;
  }
  .zmb-logo {
    position: absolute;
    top: 50%;
    left: 0;
    @include transform_translateY50;
  }
  &.logo-position-right {
    .zmb-logo {
      left: auto;
      right: 0;
    }
    .zmb-menu {
      float: left;
    }
  }
}

/* Sliding Content */
.zmb-sliding-content-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  right: -100%;
  z-index: 100002;
  max-width: 100%;
  background-color: #fff;
  overflow: auto;
  .zmb-sliding-content-inner {
    position: relative;
    .zmb-close-sliding {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      z-index: 1;
      margin: 0;
      padding: 0;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #ebebeb;
      background-color: #fff;
    }
    > .vc_row {
      padding: 30px 15px;
      margin: 0;
      .wpb_column {
        width: 100% !important;
      }
    }

    .shop_table.cart {
      display: block;
      width: 100%;
      border-color: #ebebeb;
      border-radius: 0;
      border: none;
      thead {
        display: none;
      }
      tfoot {
        display: none;
      }
      tbody {
        display: block;
        width: 100%;
      }
      tr, th, td {
        display: block;
        width: 100%;
        border-color: #ebebeb;
      }
      tr {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border: none;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
        position: relative;
      }
      th, td {
        border: none;
        padding: 5px 0;
      }
      .product-thumbnail {
        text-align: center;
        width: auto;
        max-width: 110px;
        float: left;
        padding-left: 0;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        img {
          width: 110px;
          max-width: 100%;
          height: auto;
        }
      }
      .product-remove {
        position: absolute;
        width: 21px;
        height: 21px;
        right: 0;
        top: 0;
        z-index: 1;
        text-align: center;
        .remove {
          width: 21px;
          height: 21px;
          line-height: 21px;
          text-align: center;
          margin: 0 auto;
        }
      }
      .product-name {
        padding-right: 24px;
      }
      .product-quantity {
        .quantity {

        }
        .qty {
          padding: 0 8px;
        }
      }
    }
    .woocommerce {
      .coupon {
        width: 100%;
      }
      .cart-collaterals {
        width: 100%;
        .cart_totals {
          width: 100%;
        }
      }
    }
  }
  &.active {
    display: block;
  }
}