/* Default effects for Zan Menu Builder */
@import "params_default";
@import "effects_default";

/* Menu effect on Mobile */
html div.zmb-panel.zmb-main-panel.zmb-panel-opened {
  transform: translateX(0px);
}
html div.zmb-panel.zmb-sub-panel.zmb-panel-opened {
  transform: translateX(0px);
}
html div.zmb-panel.zmb-main-panel.zmb-panel-opened.zmb-sub-opened {
  transform: translateX(-450px); /* 440px */
}
html .zmb-clone-wrap > .zmb-panels > .zmb-panel {
  background: inherit;
  border-color: inherit;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.4s ease 0s;
  z-index: 0;
}
html .zmb-panel.zmb-sub-panel.zmb-hidden {
  transform: translateX(100%);
}
html .zmb-clone-wrap > .zmb-panels > .zmb-panel.zmb-hidden {
  display: block !important;
  opacity: 0;
  visibility: hidden;
}
.zmb-panel.zmb-sub-panel.zmb-panel-opened.zmb-sub-opened {
  transform: translateX(-500px);
  opacity: 0;
}
.zmb-clone-wrap > .zmb-panels > .zmb-panel .zmb-mini-cart-wrap .cart_list {
  list-style: none;
}
body .zmb-clone-wrap {
  display: block;
  left: -100%;
  transition: all 0.4s linear 0s;
  -o-transition: all 0.4s linear 0s;
  -webkit-transition: all 0.4s linear 0s;
  overflow: hidden;
  &.active{
    left: 0;
  }
  a:focus {
    outline: medium none;
    outline-offset: 0px;
  }
}


/* Sliding Content */
html .zmb-sliding-content-wrap {
  right: -100%;
  transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  &.active {
    right: 0 !important;
  }
}

/* End default effects for Zan Menu Builder */