/*
	Eventon Full Calendar styles
	version 1.1
*/

/* fonts */
	.eventon_fullcal p{
		font-family: 'roboto','arial narrow';
	}
	.eventon_fc_days .evo_fc_day.has_events em{
		font-family: 'open sans', arial;
	}
/* other */
	.evoFC_tip{
		position:absolute;
		background-color:#9e9e9e;
		color:#f7f7f7;
		padding:2px 6px;
		line-height:110%;
		font-size:10px;
		z-index: 800;
	}	
	.evoFC_tip:before{
		content:"";
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 5px 5px 0 0;
		border-color: #9e9e9e transparent transparent transparent;
		position:absolute;
		left:0;
		bottom:-5px;
	}
		.evoFC_tip.leftyy:before{
			border-width: 0 5px 5px 0;
			border-color: transparent #9e9e9e transparent transparent;
			right:0;
			left:auto;
		}

	.eventon_fullcal {
		padding:0px 0 10px;
		overflow:hidden;
		width:100%;
		position:relative;
		border-bottom: 1px solid #e5e5e5;
	}

	.evofc_month{float:left;width: 100%;}	

	.eventon_fullcal .eventon_fc_daynames .evo_fc_day{font-size:14px;margin: 0!important}
	.eventon_fullcal .eventon_fc_daynames .evo_fc_day:hover{cursor:default; color:#d4d4d4}

	.eventon_fullcal .evo_fc_day{
		display:block;
		margin:0;
		float:left;
		width:14.27%;
		text-align:center;
		min-height:5px;
		cursor:pointer;
		border-top:3px solid transparent;
		font-size:20px;
		font-weight: 700;
		padding:4px 0;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}

	.eventon_fullcal .evo_fc_day.highl{
		background-color:#faf8f5
	}

	.eventon_fullcal .evo_fc_day.evo_fc_empty{
		cursor:default
	}

	.eventon_fullcal .evo_fc_day.evo_fc_empty:hover{
		background-color:transparent
	}
	.eventon_fullcal .evo_fc_day.on_focus{
		border-top:1px solid #9e9e9e;
	}

	.eventon_fullcal p{
		color: #d8d8d8;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		font-size: 13px;
	}
	.evofc_months_strip{	max-width:none;	}

/* widget **/
	.evo_widget .eventon_fullcal .eventon_fc_daynames .evo_fc_day, .evo_fc_widget .eventon_fullcal .eventon_fc_daynames .evo_fc_day{
		display:block;
		font-size: 0;
	}
	.evo_widget .eventon_fullcal .eventon_fc_daynames .evo_fc_day:first-letter,
	.evo_fc_widget .eventon_fullcal .eventon_fc_daynames .evo_fc_day:first-letter{
		visibility:visible;
		font-size: 12px;
	}
	.evo_widget .eventon_fullcal .evo_fc_day,
	.evo_fc_widget .eventon_fullcal .evo_fc_day{
		font-size:12px;
		padding: 10px 0
	}

/* new grid boxes */
	.eventon_fullcal .evo_fc_day{
		border-top:1px solid #F7F7F7;
		border-right:1px solid #F7F7F7;
		border-bottom: 1px solid transparent;
	}
	.eventon_fullcal .evo_fc_day.bb{
		border-bottom:1px solid #F7F7F7;
	}
	.eventon_fullcal .evo_fc_day.br{
		border-right:1px solid #F7F7F7;
	}
	.eventon_fc_days, .eventon_fc_daynames{border-left:1px solid #F7F7F7;}
	.eventon_fc_days .evo_fc_day{
		padding:30px 0;
		margin: 0!important;
		position: relative;
	}

	.eventon_fc_days .evo_fc_day.has_events:hover{background-color: #F5F5F5;}
	.eventon_fc_days .evo_fc_day.on_focus{background-color: #FFF3E7;}
	.eventon_fc_days .evo_fc_day.today:before{
		content:"";
		background-color: #ef9a93;
		height: 4px;
		width: 100%;
		display: inline-block;
		position: absolute;
		top: 0px; left: 0;
		margin-top: -1px;
	}

	.eventon_fc_days .evo_fc_day.has_events, .eventon_fc_days, .eventon_fc_daynames{position: relative;}
	.eventon_fc_days .evo_fc_day.has_events em{
		position: absolute;
		font-size: 12px;
		font-style: normal;
		margin-top: -5px;
		margin-left: 5px;
		color: #D6D6D6;
	}

	.evo_widget .eventon_fc_days .evo_fc_day.has_events span,
	.evo_fc_widget .eventon_fc_days .evo_fc_day.has_events span{display: none;}
	.eventon_fc_days .evo_fc_day.has_events span{
		bottom: 20px;
		width: 100%;
		left: 0;
		position:absolute;
	}
	.eventon_fc_days .evo_fc_day.has_events span i{
		height:5px; width: 5px;
		display: inline-block;
		border-radius: 50%;
		background-color: #DADADA;
		margin: 0 1px;
	}
	.eventon_fc_days .evo_fc_day.has_events span b{
		margin: 0 1px;display: inline-block;
		font-size: 8px; font-weight: normal;
		text-transform: none;
		color: #DADADA;
		font-family: arial;
	}

/* hover event names */
	.evofc_title_tip{
		max-width: 100%;
		pointer-events : none;
		position: absolute;
		background-color:#808080;
		color:#f7f7f7;
		padding:2px 6px;
		line-height:110%;
		font-size:10px; font-style: italic;
		z-index: 999;
		min-height: 45px
	}
	.evofc_title_tip .evofc_ttle_cnt{
		position: absolute;
		font-size: 24px;
		text-align: center;
		font-style: normal;
		margin-top: 5px;
		background-color: #949393;
		border-radius: 8px;
		color: #fff;
		font-size: 18px;
		padding: 8px;
	}
	.eventon_fullcal ul.evofc_ttle_events{
		padding:5px 5px 5px 40px;
		margin: 0;
	}
	.eventon_fullcal ul.evofc_ttle_events li{
		font-size: 13px;
		padding-left: 15px;
		position: relative;
		padding-bottom: 5px;
		margin: 0;
	}
	.eventon_fullcal ul.evofc_ttle_events li b{
		display: inline-block;
		background-color: #fff;
		border-radius: 50%;
		width: 7px; height: 7px;
		margin-right: 5px;
		position: absolute;
		left: 0; top: 2px;
	}
	.evofc_title_tip:before{
		width: 0;
		height: 0;
		border-style: solid;
		position:absolute;
		left:0;
		bottom:-5px;
		content: "";
		border-width: 5px 5px 0 0;
		border-color: #949393 transparent transparent transparent;		
	}
	.evofc_title_tip.lefter:before{
		border-width: 0 5px 5px 0;
		border-color: transparent #949393 transparent transparent;
		right:0;
		left:auto;
	}

/* Grid Style: no box */
	.evofc_months_strip.nobox .eventon_fc_days .evo_fc_day{
		border:none;
	}
	.evofc_months_strip.nobox .eventon_fc_days, .evofc_months_strip.nobox .eventon_fc_daynames,
	.evofc_months_strip.nobox .eventon_fc_daynames p.evo_fc_day{border:none; }
	.evofc_months_strip.nobox .eventon_fc_daynames{border-bottom:1px solid #e5e5e5;}
/* events next to grid */
	.evoFC_nextto.evoFC div#evcal_list {
		width: 50%;
		float: right;
	}
	.evoFC_nextto.evoFC .eventon_fullcal {
		width: 50%;
		float:left;
	}
	.evoFC_nextto.evoFC .eventon_fc_days .evo_fc_day {
		padding: 10px 0;
	}
	.evoFC_nextto.evoFC .eventon_fc_days .evo_fc_day.has_events span i {
		margin: -18px 1px;
	}
	@media (max-width: 550px){
		.evoFC_nextto.evoFC div#evcal_list, .evoFC_nextto.evoFC .eventon_fullcal{width: 100%;float: none;}
	}
/* lightbox */	
	.evofc_lightbox{
		overflow-x: hidden;
    	overflow-y: auto;
	    background-color: rgba(61, 61, 61, 0.8);
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 94000;
	    padding-right: 17px;
	    padding-left: 17px;
	        opacity: 0;
	    -webkit-transition: opacity .15s linear;
	    -o-transition: opacity .15s linear;
	    transition: opacity .15s linear;
	    visibility: hidden;
	}
	.evofc_lightbox.show{    opacity: 1; visibility: visible;}
	.evofc_lightbox.show .evo_lightbox_content{
		-webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	    opacity: 1;
	}
	.evolbclose_fc{
		position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 90001;
	    margin: -14px -14px 0 0;
	    color: #666666;
	    background-color: #000;
	    border-radius: 50%;
	    padding: 5px;
	    height: 28px;
	    width: 28px;
	    text-align: center;
	    line-height: 90%;
	    font-size: 28px;
	    cursor: pointer;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 300;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	}
	.evolbclose_fc:hover{color: #cfcfcf; text-decoration: none;}
	.evofc_lightbox .evcal_cblock .evo_time{display: none;}
	.evofc_lightbox .bordb{border-bottom: 1px solid #cdcdcd;	}
	.evofc_lightbox.eventcard .evofc_lightbox_body{background-color: #fff;}
	.evofc_lightbox .evopop_top .ev_ftImg{display: none;}
	.evofc_lightbox .evofc_lightbox_body{
		border-radius: 5px; overflow: hidden;
	}
	.evofc_lightbox .evofc_lightbox_body .no_events{
		background-color: #fff;
	    padding: 15px;
	    color: #808080;
	}

/* RTL */
	.evortl .eventon_fc_daynames .evo_fc_day, .evortl .eventon_fc_days .evo_fc_day{float: right;}
	.evortl .evo_lightbox_content .evolbclose_fc{right: auto; left: 0; margin: -14px 0 0 -14px;}
	.evortl.evofc_lightbox .evofc_lightbox_body .eventon_list_event .evocd_timer span.evocd_time{float: right; margin-right: 0;margin-left: 10px;}
	