/* Zan Menu Builder backend style */
/* Edit menu */
.menu-item-settings {
  overflow: hidden; }

.icon-img-list {
  clear: both; }

.icon-img-list li {
  list-style: none;
  float: left;
  margin-right: 7px; }

.icon-img-list a {
  text-decoration: none;
  text-align: center;
  width: 18px;
  height: 18px;
  padding: 5px;
  border: 1px solid #ccc;
  display: block; }
  .icon-img-list a.active, .icon-img-list a:hover {
    border-color: #00a0d2; }

.icon-img-list img {
  max-width: 18px; }

/* The switch - the box around the slider */
.zmb-switch-wrap .zmb-switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
  -webkit-transition: .4s;
  transition: .4s; }
  .zmb-switch-wrap .zmb-switch input {
    display: none; }
.zmb-switch-wrap .zmb-edit {
  display: none; }
.zmb-switch-wrap .zmb-switch-text {
  position: absolute;
  left: 30px;
  right: auto;
  height: 34px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #fff;
  z-index: 1; }
.zmb-switch-wrap.zmb-on .zmb-edit {
  display: inline-block;
  margin-right: 5px; }
.zmb-switch-wrap.zmb-on .zmb-switch-text {
  left: auto;
  right: 30px; }

/* The slider */
.zmb-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; }

.zmb-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .zmb-slider {
  background-color: #2196F3; }

input:focus + .zmb-slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .zmb-slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px); }

/* Rounded sliders */
.zmb-slider.round {
  border-radius: 14px; }

.zmb-slider.round:before {
  border-radius: 50%; }

.menu-item .field-zanmenu-custom {
  display: none; }
.menu-item.menu-item-zanmenu .field-zanmenu-custom, .menu-item.zmb-show-mega-options .field-zanmenu-custom {
  display: block; }
.menu-item.menu-item-zanmenu .item-type {
  background-color: #2196F3;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px; }

/* Font icon picker popup */
.zmb-add-icon-class-popup-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .zmb-add-icon-class-popup-wrap .zmb-popup-inner {
    background-color: #fff;
    width: 90%;
    min-width: 350px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%); }

.zmb-icon-picker-wrap {
  margin-top: 15px;
  max-height: 515px;
  overflow-y: auto; }

.zmb-icons-list-wrap {
  display: block;
  width: 100%; }
  .zmb-icons-list-wrap .zmb-icon-for-picker {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #dedede;
    cursor: pointer; }
    .zmb-icons-list-wrap .zmb-icon-for-picker i {
      font-size: inherit; }
    .zmb-icons-list-wrap .zmb-icon-for-picker:hover {
      border-color: #00a0d2;
      background-color: #00a0d2;
      color: #fff; }

/*# sourceMappingURL=backend-style.css.map */
