input[type=submit], input[type=button] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

/************************   Bootstrap Additional CSS rules   ************************/
.w2dc-content .w2dc-col-md-1, .w2dc-col-md-2, .w2dc-col-md-3, .w2dc-col-md-4, .w2dc-col-md-5, .w2dc-col-md-6, .w2dc-col-md-7, .w2dc-col-md-8, .w2dc-col-md-9, .w2dc-col-md-10, .w2dc-col-md-11, .w2dc-col-md-12 {
	float: right;
}
.w2dc-content .w2dc-btn:hover, .w2dc-content .w2dc-btn:focus, .w2dc-content .w2dc-btn:active, .w2dc-content .w2dc-btn.w2dc-active, .w2dc-open > .w2dc-dropdown-toggle.w2dc-content .w2dc-btn {
	background-image: none;
}
.w2dc-content .w2dc-form-control {
	max-width: 100%;
	float: none;
}
.w2dc-content .w2dc-form-control-feedback {
	z-index: 0;
}
.w2dc-content .w2dc-label {
	display: inline-block;
	padding: 3px 5px;
	margin-bottom: 3px;
	vertical-align: inherit;
}
.w2dc-content .w2dc-label-primary.w2dc-label a,
.w2dc-content .w2dc-label-primary.w2dc-label a:hover {
	color: inherit;
}
.w2dc-form-control-feedback.w2dc-glyphicon {
	color: #555555;
}
.w2dc-content .w2dc-form-group {
	margin-bottom: 15px !important; /* !important needed so JS COmposer can not break this by his *:last-child rules */
	overflow: hidden;
}
.w2dc-content .w2dc-nav-tabs > li.w2dc-active > a,
.w2dc-content .w2dc-nav-tabs > li.w2dc-active > a:hover,
.w2dc-content .w2dc-nav-tabs > li.w2dc-active > a:focus {
	cursor: pointer;
}
.w2dc-content .w2dc-popover {
	max-width: 500px;
}
.w2dc-content .w2dc-list-group {
	margin-right: 0;
}
.w2dc-content .w2dc-has-feedback .w2dc-form-control {
	padding-left: 42.5px;
	padding-right: inherit;
}
.w2dc-content .w2dc-form-control-feedback {
	left: 15px;
	right: inherit !important;
}
.w2dc-content .w2dc-radio input[type="radio"], .w2dc-content .w2dc-radio-inline input[type="radio"], .w2dc-content .w2dc-checkbox input[type="checkbox"], .w2dc-content .w2dc-checkbox-inline input[type="checkbox"] {
	margin-right: -20px;
}
.w2dc-content .w2dc-radio label, .w2dc-content .w2dc-checkbox label {
	padding-right: 20px;
}
.w2dc-content .w2dc-pull-left {
	float: right !important;
}
.w2dc-content .w2dc-pull-right {
	float: left !important;
}
.w2dc-content .w2dc-text-right {
	text-align: left;
}
.w2dc-content .w2dc-text-left {
	text-align: right;
}
.w2dc-content .w2dc-nav-tabs > li {
	float: right;
}
.w2dc-content .w2dc-pagination > li > a, .w2dc-content .w2dc-pagination > li > span {
	float: right;
	margin-right: -1px;
}
.w2dc-content .w2dc-pagination > li:first-child > a, .w2dc-content .w2dc-pagination > li:first-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-right: 0;
}
.w2dc-content .w2dc-pagination > li:last-child > a, .w2dc-content .w2dc-pagination > li:last-child > span {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.w2dc-content .w2dc-btn-group > .w2dc-btn:first-child:not(:last-child):not(.w2dc-dropdown-toggle) {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: -1px;
}
.w2dc-content .w2dc-btn-group > .w2dc-btn:last-child:not(:first-child), .w2dc-content .w2dc-btn-group > .w2dc-dropdown-toggle:not(:first-child) {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: -1px;
	margin-left: 0;
}
.w2dc-content .w2dc-btn-group > .w2dc-btn, .w2dc-content .w2dc-btn-group-vertical > .w2dc-btn {
	float: right;
}
@media print {
	.w2dc-content a[href]:after {
		content: none !important;
	}
}

.w2dc-content .lb-prev, .w2dc-content .lb-next {
	outline: 0 none !important;
}

/* 
	Bootstrap has default img max-width set to 100% and for some reason lightbox stops resizing
	http://stackoverflow.com/questions/17523977/lightbox-v2-shrinks-the-image-in-the-box
*/
.lb-image {
	max-width: inherit;
}
.lb-number {
	display: none !important;
}

/* This rule needed for BXSlider for bx-viewport */
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Avoid fluid-width-video-wrapper */
.w2dc-content .fluid-width-video-wrapper {
	padding-top: 0 !important;
	height: 400px !important;
}



/************************   W2DC CONTENT   ************************/
.w2dc-content {
	font-size: 14px;
	direction: rtl;
}
div.w2dc-content img {
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}
.w2dc-content select:not(.w2dc-week-day-input) {
	background-image:
	linear-gradient(50deg, transparent 50%, white 50%),
	linear-gradient(130deg, white 50%, transparent 50%),
	linear-gradient(to right, #2393ba, #2393ba) !important;
	background-position: 8px 50%, 13px 50%, 0 0 !important;
	background-size: 6px 6px, 6px 6px, 2em 2.5em !important;
	background-repeat: no-repeat !important;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	
	font-size: 14px !important;
	height: 34px !important;
	line-height: 1.42857 !important;
	padding: 3px 12px !important;
}
.w2dc-content select:not(.w2dc-week-day-input)::-ms-expand {
	display: none;
}
.w2dc-content select:not(.w2dc-week-day-input):focus {
	background-image:
	linear-gradient(130deg, transparent 50%, white 50%),
	linear-gradient(50deg, white 50%, transparent 50%),
	linear-gradient(to right, #2393ba, #2393ba) !important;
}

.w2dc-content .w2dc-btn,
.w2dc-content a,
.w2dc-content button,
.w2dc-content input[type="button"] {
	transition: all 0.1s linear 0s;
}
.w2dc-content .w2dc-btn:focus,
.w2dc-content a:focus,
.w2dc-content button:focus,
.w2dc-content input[type="button"]:focus {
	outline: 0;
}


/************************   Search block   ************************/
.w2dc-search-overlay {
	background: url("../images/search_overlay.png") no-repeat;
	background-repeat: repeat-y;
	background-size: 100% auto;
	overflow: auto;
}
.w2dc-content.w2dc-search-form {
	border-radius: 6px;
	margin-bottom: 20px;
}
.w2dc-search-section-label {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 1.7em;
	text-shadow: 0 1px 1px #000000;
	font-style: italic;
	line-height: 2em;
}
.w2dc-content a.w2dc-advanced-search-label, .w2dc-content a.w2dc-advanced-search-label:hover, .w2dc-content a.w2dc-advanced-search-label:focus {
	font-weight: bold;
}
.w2dc-search-content-field {
	clear: both;
}
.w2dc-search-radius-label {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 16px;
}
.w2dc-content .w2dc-get-location {
	display: inline-block;
	left: 15px;
	top: 0;
	cursor: pointer;
}
.w2dc-content .w2dc-search-map-form .w2dc-get-location {
	height: 26px;
	line-height: 26px;
}
.w2dc-jquery-ui-slider {
	overflow: visible !important;
	margin-top: 5px;
}

.w2dc-maps-canvas-wrapper {
	position: relative;
}
.w2dc-search-map-block {
	width: 240px;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 0;
}
.w2dc-content.w2dc-search-form.w2dc-search-map-form {
	background: none no-repeat !important;
	margin: 0;
	border: 0;
}
.w2dc-content.w2dc-search-map-form .w2dc-search-overlay {
	background: #2393ba no-repeat;
	padding: 10px 15px;
	overflow: hidden;
	border-radius: 4px;
}
.w2dc-search-map-button input[type="submit"] {
	width: 100%;
}
.w2dc-content.w2dc-search-map-form .w2dc-form-control {
	border-radius: 3px;
	font-size: 13px;
	height: 28px;
	padding: 3px 6px;
}


/************************ Content fields ************************/
div.w2dc-content .w2dc-field-output-block {
	margin: 10px 0;
	overflow: hidden;
}
div.w2dc-content .w2dc-field-name {
	font-weight: bold;
}
div.w2dc-content .w2dc-field-caption {
	vertical-align: top;
}
div.w2dc-content img.w2dc-field-icon {
	box-shadow: none;
	margin: 0 0 0 5px;
	display: inline-block;
	vertical-align: middle;
}
div.w2dc-content span.w2dc-field-icon {
	padding-left: 5px;
	width: 20px;
}
div.w2dc-content .w2dc-field-content.w2dc-field-addresses {
	display: inline-block;
}
div.w2dc-content address {
	font-style: italic;
	margin: 0;
	line-height: inherit;
	font-size: inherit;
}
div.w2dc-content .w2dc-hours-field strong {
	/*width: 30%;
	float: left;*/
	display: inline-block;
	width: 160px;
}
.w2dc-listings-block .w2dc-field-content {
	display: inline-block;
}
.w2dc-listings-block .w2dc-field-content p {
	margin-bottom: 0;
	display: block;
}
.w2dc-listings-block .w2dc-field-content.w2dc-field-description {
	display: block;
}
.w2dc-week-day-controls {
	direction: ltr;
	display: inline-block;
}
.w2dc-week-day-input {
	width: auto;
	display: inline !important;
}

/* Fields Groups */
div.w2dc-content .w2dc-fields-group {
	margin: 40px 0;
}
div.w2dc-content .w2dc-fields-group:after {
	clear: both;
	content: "";
	display: table;
}
div.w2dc-content .w2dc-fields-group .w2dc-fields-group-caption {
	border-bottom: 4px solid #ccc;
	font-size: 1.3em;
	font-weight: bold;
	margin: 10px 0;
	padding: 0 0 10px;
	overflow: hidden;
	text-transform: uppercase;
}
div.w2dc-content .w2dc-fields-group .w2dc-field-output-block {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
	padding: 0 0 10px;
	overflow: hidden; /* temporarily */
}
div.w2dc-content .w2dc-fields-group .w2dc-field-output-block:last-child {
	border-bottom: none;
}
div.w2dc-content .w2dc-fields-group .w2dc-field-caption {
	display: inline-block;
	padding: 0 5px;
	vertical-align: top;
	width: 140px;
}
div.w2dc-content .w2dc-fields-group .w2dc-field-content {
	display: inline-block;
	padding: 0 5px;
}
div.w2dc-content .w2dc-fields-group .w2dc-field-content > li {
	margin-left: 1rem;
}
div.w2dc-content .w2dc-fields-group .w2dc-field-content.w2dc-field-description {
	display: block;
}



/************************ Listings ************************/
.w2dc-listings-block {
}
.w2dc-ajax-block-loading {
	position: absolute;
	background: #fff;
}
.w2dc-ajax-block-loading img {
	position: absolute;
}
.w2dc-orderby-links-label {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 10px;
}
.w2dc-listings-block-header {
	margin-bottom: 20px;
}
.w2dc-listings-block-content:after {
	clear: both;
	content: " ";
	display: table;
}
.w2dc-listings-block article.w2dc-listing {
	border-top: 1px solid #BDBCBD;
	border-bottom: 1px solid #BDBCBD;
	position: relative;
	padding: 0;
}
.w2dc-listing {
}
.w2dc-listings-block .w2dc-listing-text-content-wrap,
.w2dc-listings-block .w2dc-listing-text-content-wrap-nologo {
	padding: 0 10px;
}
.w2dc-single-listing-text-content-wrap {
	position: static;
}
.w2dc-single-listing-text-content-wrap:after {
	content: '';
	display: block;
	clear: both;
}
header.w2dc-listing-header {
	float: none;
	padding: 0;
	margin: 0;
	clear: none;
	overflow: hidden;
}
header.w2dc-listing-header h2 {
	line-height: 1.5em;
	margin: 5px 0;
	display: inline-block;
}
header.w2dc-listing-header h2 a, header.w2dc-listing-header h2 a:visited {
	font-weight: bold;
}
.w2dc-author-link, .w2dc-listing-date {
	float: none;
	margin-left: 10px;
}
.w2dc-meta-data:after {
	content: '';
	display: block;
	clear: both;
}
.w2dc-featured-ribbon {
	background: url("../images/ribbon_featured.png") no-repeat;
	height: 40px;
	color: #FFFFFF;
	font-weight: bold;
	position: absolute;
	top: -17px;
	right: -29px;
	padding: 5px 35px 0 0;
	width: 120px;
	font-size: 14px;
}
.w2dc-sticky-icon {
	width: 48px;
	height: 48px;
	background: url("../images/pin.png") no-repeat 0 0;
	position: absolute;
	left: -5px;
	top: -25px;
	z-index: 2;
}
.w2dc-remove-from-favourites-list {
	width: 20px;
	height: 20px;
	background: url("../images/delete.png") no-repeat 0 0;
	position: absolute;
	left: -10px;
	top: -10px;
	cursor: pointer;
	z-index: 2;
}
.w2dc-video-iframe {
	height: 400px !important;
	margin-bottom: 20px;
}
/* Maximum width of 768 pixels. */
@media screen and (max-width: 768px) {
	.w2dc-sticky-icon {
		display: none;
	}
}
em.w2dc-listing-date {
	font-size: 0.8em;
	display: block;
}
ul.w2dc-listing-tabs.w2dc-nav {
	margin: 20px 0;
}


.w2dc-breadcrumbs {
	margin: 10px 0 20px 0;
	padding: 0;
}
.w2dc-breadcrumbs > li {
	display: inline;
	list-style: outside none none;
	margin: 0 !important;
}
.w2dc-options-links, .w2dc-found-listings {
	margin: 10px 0;
	overflow: hidden;
}
.w2dc-listings-block .w2dc-options-links a {
	text-decoration: none;
}


/************************ Listings Grid ************************/
/* Maximum width of 768 pixels. */
@media screen and (max-width: 768px) {
	.w2dc-views-links {
		display: none;
	}
	.w2dc-listings-block .w2dc-listing-text-content-wrap {
		overflow: hidden;
	}
}
/* Minimum width of 768 pixels. */
@media screen and (min-width: 768px) {
	.w2dc-listings-block.w2dc-listings-grid article.w2dc-listing {
		float: right;
	}
	.w2dc-listings-block.w2dc-listings-grid .w2dc-listings-block-content {
		margin-right: -15px;
		margin-left: -15px;
	}
	.w2dc-listings-block.w2dc-listings-grid .w2dc-listing-text-content-wrap {
		padding: 0 10px;
	}
	.w2dc-listings-block.w2dc-listings-grid article.w2dc-listing .w2dc-listing-logo-wrap {
		float: none !important;
		width: 100%;
		margin: 0;
	}
	.w2dc-listings-block.w2dc-listings-grid article.w2dc-listing .w2dc-listing-text-content-wrap {
		margin-right: 0 !important;
	}
	.w2dc-listings-block.w2dc-listings-grid-2 article.w2dc-listing {
		width: 49% !important;
	}
	/* .w2dc-listings-block.w2dc-listings-grid-2 article.w2dc-listing .w2dc-listing-logo-img {
		height: 250px;
	} */
	.w2dc-listings-block.w2dc-listings-grid-2 .w2dc-listings-block-content article.w2dc-listing:nth-child(2n+1) {
		clear: both;
		margin-left: 2%;
		margin-right: 0;
	}
	.w2dc-listings-block.w2dc-listings-grid-2 .w2dc-listings-block-content article.w2dc-listing:nth-child(2n) {
		margin-left: 0;
		margin-right: 0;
	}
	.w2dc-listings-block.w2dc-listings-grid-3 article.w2dc-listing {
		width: 32% !important;
	}
	/* .w2dc-listings-block.w2dc-listings-grid-3 article.w2dc-listing .w2dc-listing-logo-img {
		height: 180px;
	} */
	.w2dc-listings-block.w2dc-listings-grid-3 .w2dc-listings-block-content article.w2dc-listing:nth-child(3n+1) {
		clear: both;
		margin-left: 2%;
		margin-right: 0;
	}
	.w2dc-listings-block.w2dc-listings-grid-3 .w2dc-listings-block-content article.w2dc-listing:nth-child(3n+2) {
		margin-left: 2%;
		margin-right: 0;
	}
	.w2dc-listings-block.w2dc-listings-grid-3 .w2dc-listings-block-content article.w2dc-listing:nth-child(3n) {
		margin-right: 0;
		margin-left: 0;
	}
	.w2dc-listings-block.w2dc-listings-grid-4 article.w2dc-listing {
		width: 24.25% !important;
	}
	/* .w2dc-listings-block.w2dc-listings-grid-4 article.w2dc-listing .w2dc-listing-logo-img {
		height: 140px;
	} */
	.w2dc-listings-block.w2dc-listings-grid-4 .w2dc-listings-block-content article.w2dc-listing:nth-child(4n+1) {
		clear: both !important;
		margin-left: 1% !important;
		margin-right: 0 !important;
	}
	.w2dc-listings-block.w2dc-listings-grid-4 .w2dc-listings-block-content article.w2dc-listing:nth-child(4n+2),
	.w2dc-listings-block.w2dc-listings-grid-4 .w2dc-listings-block-content article.w2dc-listing:nth-child(4n+3) {
		margin-left: 1% !important;
		margin-right: 0 !important;
	}
	.w2dc-listings-block.w2dc-listings-grid-4 .w2dc-listings-block-content article.w2dc-listing:nth-child(4n) {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}


/************************ Listings Logo ************************/
.w2dc-listing-logo-wrap {
	width: 100%;
	max-width: 100%;

	text-align: center;
	position: relative;
	background-color: #EEE;
}
.w2dc-listing-logo .w2dc-listing-logo-img {
	width: 100%;
}
figure.w2dc-listing-logo {
	margin: 0;
	position: relative;
}
figure.w2dc-listing-logo .w2dc-listing-logo-img-wrap {
	display: block;
	overflow: hidden;
}
/* listing logo will be square in grid view */
/* Minimum width of 768 pixels. */
@media screen and (min-width: 768px) {
	.w2dc-listings-block.w2dc-listings-grid figure.w2dc-listing-logo .w2dc-listing-logo-img-wrap {
		display: block;
		position: relative;
		width: 100%;
	}
	.w2dc-listings-block.w2dc-listings-grid figure.w2dc-listing-logo .w2dc-listing-logo-img-wrap:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
	.w2dc-listings-block.w2dc-listings-grid figure.w2dc-listing-logo .w2dc-listing-logo-img {
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

figure.w2dc-listing-logo .w2dc-listing-logo-img {
	max-width: 100%;
	display: block;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* We are working with background image, so hide native image */
figure.w2dc-listing-logo .w2dc-listing-logo-img img {
	visibility: hidden;
	float: none;
}
/* native image in grid view must not take place because we load high resolution images */
/* Minimum width of 768 pixels. */
@media screen and (min-width: 768px) {
	.w2dc-listings-block.w2dc-listings-grid figure.w2dc-listing-logo .w2dc-listing-logo-img img {
		width: 0;
	}
}
/* Maximum width of 768 pixels. */
@media screen and (max-width: 768px) {
	.w2dc-listings-block figure.w2dc-listing-logo .w2dc-listing-logo-img img {
		visibility: visible;
		width: auto;
		max-width: 100%;
	}
}

/* hide figcaption for touchscreens and when we selected no effect */
.w2dc-touch figure.w2dc-listing-logo figcaption,
.w2dc-anim-style-0 figure.w2dc-listing-logo figcaption {
	display: none;
}
figure.w2dc-listing-logo figcaption {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border: 0;
}
/* Maximum width of 768 pixels. */
@media screen and (max-width: 768px) {
	figure.w2dc-listing-logo figcaption {
		font-size: 18px;
		padding: 20px;
	}
}
figure.w2dc-listing-logo figcaption .w2dc-figcaption {
	display: table;
	height: 100%;
	margin: 0px auto;
	text-align: center;
}
figure.w2dc-listing-logo figcaption .w2dc-figcaption .w2dc-figcaption-middle {
	display: table-cell;
	vertical-align: middle;
}

/* Animation Style #1 */
.w2dc-anim-style-1 {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}
.w2dc-anim-style-1 figure.w2dc-listing-logo figcaption {
	color: #FFF;
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: right 0 0;
	-moz-transform-origin: right 0 0;
	transform-origin: right 0 0;
	-webkit-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
	text-align: center;
	font-size: 13px;
	padding: 0 10px;
	right: 0;
}
.w2dc-anim-style-1 figure.w2dc-listing-logo:hover figcaption {
	opacity: 1;
	transform: rotateY(0deg);
	transition: transform 0.4s, opacity 0.1s;
	-webkit-transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
}
.w2dc-no-touch .w2dc-anim-style-1 figure.w2dc-listing-logo.w2dc-listings-own-page {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.w2dc-no-touch .w2dc-anim-style-1 figure.w2dc-listing-logo.w2dc-listings-own-page .w2dc-listing-logo-img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.w2dc-no-touch .w2dc-anim-style-1 figure.w2dc-listing-logo.w2dc-listings-own-page:hover .w2dc-listing-logo-img {
	-webkit-transform: translateX(-25%);
	-moz-transform: translateX(-25%);
	-ms-transform: translateX(-25%);
	transform: translateX(-25%);
}
/* Animation Style #2 */
.w2dc-anim-style-2 figure.w2dc-listing-logo figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.w2dc-anim-style-2 figure.w2dc-listing-logo:hover figcaption {
	opacity: 1;
	-webkit-transform: translate(-15px, 15px);
	-moz-transform: translate(-15px, 15px);
	-ms-transform: translate(-15px, 15px);
	transform: translate(-15px, 15px);
}
/* Animation Style #3 */
.w2dc-anim-style-3 figure.w2dc-listing-logo {
	overflow: hidden;
}
.w2dc-anim-style-3 figure.w2dc-listing-logo figcaption {
	height: auto;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.w2dc-anim-style-3 figure.w2dc-listing-logo:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.w2dc-no-touch .w2dc-anim-style-3 figure.w2dc-listing-logo.w2dc-listings-own-page .w2dc-listing-logo-img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.w2dc-no-touch .w2dc-anim-style-3 figure.w2dc-listing-logo.w2dc-listings-own-page:hover .w2dc-listing-logo-img {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
}
/* Animation Style #4 */
.w2dc-anim-style-4 figure.w2dc-listing-logo figcaption .w2dc-figcaption .w2dc-figcaption-middle {
	vertical-align: bottom;
}
.w2dc-anim-style-4 figure.w2dc-listing-logo figcaption {
	height: 100%;
	width: 100%;
}
.w2dc-no-touch .w2dc-anim-style-4 figure.w2dc-listing-logo.w2dc-listings-own-page .w2dc-listing-logo-img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.w2dc-no-touch .w2dc-anim-style-4 figure.w2dc-listing-logo.w2dc-listings-own-page:hover .w2dc-listing-logo-img {
	-webkit-transform: translateY(-25px) scale(0.65);
	-moz-transform: translateY(-25px) scale(0.65);
	-ms-transform: translateY(-25px) scale(0.65);
	transform: translateY(-25px) scale(0.65);
}
/* Animation Style #5 */
.w2dc-anim-style-5 figure.w2dc-listing-logo figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.w2dc-anim-style-5 figure.w2dc-listing-logo:hover figcaption {
	opacity: 0.9;
}
/* Animation Style #6 */
.w2dc-anim-style-6 figure.w2dc-listing-logo {
	overflow: hidden;
}
.w2dc-anim-style-6 figure.w2dc-listing-logo figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.w2dc-anim-style-6 figure.w2dc-listing-logo:hover figcaption {
	opacity: 0.9;
}
.w2dc-no-touch .w2dc-anim-style-6 figure.w2dc-listing-logo.w2dc-listings-own-page:hover .w2dc-listing-logo-img {
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.w2dc-no-touch .w2dc-anim-style-6 figure.w2dc-listing-logo.w2dc-listings-own-page .w2dc-listing-logo-img {
	/* -webkit-transition: all 300ms ease-out; */
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}
.w2dc-anim-style-6 figure.w2dc-listing-logo.w2dc-listings-own-page figcaption .w2dc-figcaption {
	position: relative;
	left: 400px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}
.w2dc-anim-style-6 figure.w2dc-listing-logo.w2dc-listings-own-page figcaption:hover .w2dc-figcaption {
	-moz-transform: translateX(-400px);
	-ms-transform: translateX(-400px);
	-webkit-transform: translateX(-400px);
	transform: translateX(-400px);
}


figure.w2dc-listing-logo figcaption a,
figure.w2dc-listing-logo figcaption a:hover,
figure.w2dc-listing-logo figcaption a:visited,
figure.w2dc-listing-logo figcaption a:focus {
	color: #FFF !important;
	display: block;
}

/* Listing Figcaption options */
.w2dc-figcaption ul.w2dc-figcaption-options {
	padding: 10px 0;
	margin: 0;
}
.w2dc-figcaption li.w2dc-listing-figcaption-option {
	list-style-type: none;
	margin: 0;
	display: inline-block;
}
.w2dc-figcaption li.w2dc-listing-figcaption-option a,
.w2dc-figcaption li.w2dc-listing-figcaption-option a:hover {
	text-decoration: none;
}
.w2dc-figcaption li.w2dc-listing-figcaption-option a span {
	font-size: 24px;
	display: inline-block;
	border: 2px solid transparent;
	border-radius: 50%;
	padding: 5px;
}
.w2dc-figcaption li.w2dc-listing-figcaption-option a span:hover {
	border: 2px solid #FFF !important;
}



/************************ Listings Rating ************************/
.w2dc-listing-header .w2dc-rating {
	display: inline-block;
	height: auto;
}




/************************ Paginator ************************/
.w2dc-content .w2dc-pagination-wrapper {
	text-align: center;
	margin: 20px 0;
}
.w2dc-content .w2dc-pagination li {
	margin: 0;
}



/************************ Maps and Info Window ************************/
.w2dc-maps-canvas {
	margin: 0 auto;
	border-radius: 6px;
	border: 1px solid #DDDDDD;
}
.w2dc-maps-canvas .gm-style img {
	max-width: none !important;
	box-shadow: none !important;
}
.w2dc-maps-canvas .gm-style label {
	width: auto !important;
	display: inline !important;
}
.w2dc-maps-canvas .gm-style-cc > div {
	word-wrap: normal;
}

.w2dc-maps-direction-route {
	margin: 20px 0;
}
.w2dc-map-info-window {
	border-radius: 5px;
}
.w2dc-map-info-window, .w2dc-map-info-window-tongue {
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	position: relative;
}
.w2dc-map-info-window-title,
.w2dc-map-info-window-title a.w2dc-map-info-window-title-link,
.w2dc-map-info-window-title a.w2dc-map-info-window-title-link:hover,
.w2dc-map-info-window-title a.w2dc-map-info-window-title-link:visited,
.w2dc-map-info-window-title a.w2dc-map-info-window-title-link:focus {
  color: #ffffff;
}
.w2dc-map-info-window-title {
	padding: 5px;
	border-radius: 5px 5px 0 0;
}
.w2dc-map-info-window-title .w2dc-close-info-window {
	float: left;
	font-size: 16px !important;
	cursor: pointer;
}
.gm-style div.w2dc-map-info-window-title,
.gm-style div.w2dc-map-info-window-title a.w2dc-map-info-window-title-link {
	font-weight: bold !important;
	font-size: 14px !important;
}
.w2dc-map-info-window-logo {
	float: left;
	padding: 5px;
}
.gm-style div, .gm-style span, .gm-style label, .gm-style a {
	font-size: 13px !important;
}
.w2dc-map-info-window-content {
	padding: 5px;
}
.w2dc-map-info-window_field {
	line-height: 16px !important;
	padding-bottom: 10px
}
.w2dc-map-field-icon {
	padding-left: 5px;
	width: 15px;
	vertical-align: top;
}
.w2dc-map-info-window_field strong {
	display: inline-block;
	width: 80px;
}
.w2dc-map-info-window-buttons,
.w2dc-map-info-window-buttons-single {
	padding: 5px;
}
.w2dc-map-info-window-buttons a {
	float: right;
	width: 49%;
}
.w2dc-map-info-window-buttons-single a {
	width: 100%;
}
.w2dc-map-info-window-buttons a:nth-child(even) {
	margin-right: 2%;
}
.infoBox>img {
	z-index: 100;
	position: absolute !important;
	left: 5px;
}
span.w2dc-show-on-map {
	cursor: pointer;
}
.w2dc-map-field-hours {
	display: inline-block;
}

.w2dc-map-custom-controls {
	margin: 10px 5px;
}
.w2dc-map-custom-controls button.w2dc-btn {
	border-radius: 0;
}

.w2dc-map-dummy-div {
	height: 52px;
}
.w2dc-map-draw-panel-wrapper {
	height: 52px;
	width: 100%;
	left: 0 !important;
	padding-left: 6px;
	z-index: 1 !important;
	cursor: auto;
}
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary,
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary:hover,
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary:focus,
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary[disabled] {
	border-width: 3px;
	border-style: solid;
}
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary {
	float: right;
	font-weight: 500;
	margin: 6px 6px 6px 0;
}
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary.w2dc-btn-active {
	background: gray !important;
}
.w2dc-map-draw-panel button.w2dc-btn.w2dc-btn-primary.w2dc-map-location {
	float: left;
}

.w2dc-map-marker, .w2dc-map-marker-empty {
	border-radius: 50% 50% 50% 0;
	height: 40px;
	margin: -30% 0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 40px;
	cursor: pointer;
	text-align: center;
}
.w2dc-map-marker:after {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	content: "";
	display: block;
	height: 78%;
	left: 11%;
	position: absolute;
	top: 11%;
	width: 78%;
}
.w2dc-map-marker-empty:after {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	content: "";
	display: block;
	height: 40%;
	left: 32%;
	position: absolute;
	top: 28%;
	width: 40%;
}
.w2dc-map-marker .w2dc-map-marker-icon {
	font-size: 22px !important;
	position: relative;
	top: 20%;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index: 1;
	vertical-align: middle;
}


/************************ Misc ************************/
.w2dc-contact-form label {
	display: block;
}

a.w2dc-hint-icon {
	background: url(../images/question_mark.png) no-repeat center;
	width: 22px;
	height: 22px;
	margin: 0 10px 0;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 10px;
}
.w2dc-popover {
    width: 100%;
}

.w2dc-directory-frontpanel {
	margin-bottom: 10px;
}
.w2dc-directory-frontpanel a.w2dc-btn {
	margin: 0 0 10px 10px;
}

#w2dc-upload-wrapper {
	margin-bottom: 50px;
}

.w2dc-listings-block, .w2dc-search-tabs, .w2dc-content.w2dc-categories-columns, .w2dc-content.w2dc-locations-columns, .w2dc-maps-canvas {
	margin-bottom: 20px !important;
}



/************************ Widgets ************************/
.w2dc-categories-widget a, .w2dc-locations-widget a {
	color: inherit;
	display: inline-block;
	padding: 3px 0;
}
.w2dc-widget .w2dc-social li {
	float: right;
	margin-bottom: 20px;
	padding: 0 24px 0 0;
	list-style: none;
}
li.w2dc-widget-listing {
	list-style: none;
	margin-bottom: 15px;
	min-height: 45px;
}
li.w2dc-widget-listing::before {
	content: none !important;
}
.w2dc-widget-listing-logo {
	float: right;
}
.w2dc-widget-listing-title {
	margin-right: 50px;
}




/************************ Color Picker panel ************************/
#w2dc-color-picker-panel {
	right: -177px;
	position: fixed;
	top: 25%;
	width: 227px;
	z-index: 100000;
}
#w2dc-color-picker {
	background-color: #F7FFFF;
	float: right;
	padding: 5px;
	width: 170px;
	border-radius: 0 0 0 6px;
	box-shadow: -7px 6px 5px 0px rgba(50, 50, 50, 0.55);
}
#w2dc-color-picker table {
	line-height: 15px;
	margin-bottom: 10px;
	width: 100%;
}
.w2dc-color-scheme-name {
	margin: 5px 0;
}
#w2dc-color-picker-panel-tools {
	width: 57px;
	height: 50px;
	background-color: #F7FFFF;
	float: right;
	padding: 5px;
	border-radius: 6px 0 0 6px;
	box-shadow: -7px 6px 5px 0px rgba(50, 50, 50, 0.55);
	text-align: left;
	cursor: pointer;
}
#w2dc-color-picker-panel-tools img {
	box-shadow: none;
	width: 40px;
}
.w2dc-color-option {
	cursor: pointer;
	padding: 3px;
	margin-bottom: 2px;
}
.w2dc-color-option.color-option:hover, .w2dc-color-option.color-option.selected {
	background: none repeat scroll 0 0 #DDDDDD;
}


/************************ Categories Block ************************/
.w2dc-categories-row,
.w2dc-locations-row {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-spacing: 10px 5px;
}
.w2dc-categories-row-one-column,
.w2dc-locations-row-one-column {
	border-spacing: 0 5px;
}
.w2dc-categories-widget .w2dc-categories-row,
.w2dc-locations-widget .w2dc-locations-row {
	display: block;
	border-spacing: 0;
}
.w2dc-categories-column,
.w2dc-locations-column {
	display: table-cell;
}
.w2dc-categories-widget .w2dc-categories-column,
.w2dc-locations-widget .w2dc-locations-column {
	display: block;
	background-color: transparent !important;
	margin: 0;
}
.w2dc-categories-column-hidden,
.w2dc-locations-column-hidden {
	visibility: hidden;
}
.w2dc-categories-column-1, .w2dc-categories-column-2, .w2dc-categories-column-3, .w2dc-categories-column-4,
.w2dc-locations-column-1, .w2dc-locations-column-2, .w2dc-locations-column-3, .w2dc-locations-column-4 {
	position: relative;
	margin: 5px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float: none !important;
}
.w2dc-categories-column-1,
.w2dc-locations-column-1 {
	width: 100%;
}
.w2dc-categories-column-2,
.w2dc-locations-column-2 {
	width: 50%;
}
.w2dc-categories-column-3,
.w2dc-locations-column-3 {
	width: 33.33333%;
}
.w2dc-categories-column-4,
.w2dc-locations-column-4 {
	width: 25%;
}
@media screen and (max-width: 768px) {
	.w2dc-categories-row,
	.w2dc-locations-row {
		display: block;
	}
	.w2dc-categories-columns:after,
	.w2dc-locations-columns:after {
		content: "";
		display: block;
		clear: both;
	}
	.w2dc-categories-column,
	.w2dc-locations-column {
		display: block;
	}
	.w2dc-categories-column-1, .w2dc-categories-column-2, .w2dc-categories-column-3, .w2dc-categories-column-4,
	.w2dc-locations-column-1, .w2dc-locations-column-2, .w2dc-locations-column-3, .w2dc-locations-column-4 {
		width: 100%;
	}
}
.w2dc-categories-root,
.w2dc-locations-root {
	font-weight: bold;
}
.w2dc-categories-widget .w2dc-categories-root,
.w2dc-locations-widget .w2dc-locations-root {
	margin: 0;
	background-color: transparent !important;
}
.w2dc-categories-root a, .subcategories a,
.w2dc-locations-root a, .sublocations a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.w2dc-categories-root, .subcategories,
.w2dc-locations-root, .sublocations {
	padding: 5px;
}
.w2dc-categories-widget .subcategories,
.w2dc-locations-widget .sublocations {
	padding: 0 0 15px;
}
.subcategories ul li,
.sublocations ul li {
	padding: 3px 0;
	list-style: none;
	margin-right: 5px;
}




/************************ Adapted for Contact Fotm 7 plugin ************************/
.w2dc-content .wpcf7-form .wpcf7-text,
.w2dc-content .wpcf7-form .wpcf7-select,
.w2dc-content .wpcf7-form .wpcf7-number,
.w2dc-content .wpcf7-form .wpcf7-date,
.w2dc-content .wpcf7-form .wpcf7-textarea {
	width: 100%;
}
div.w2dc-content .wpcf7-form .wpcf7-submit,
div.w2dc-content .wpcf7-form .wpcf7-submit:hover
div.w2dc-content .wpcf7-form .wpcf7-submit:visited,
div.w2dc-content .wpcf7-form .wpcf7-submit:focus {
	background-image: none;
}

/************************ W2DC Slider CSS rules ************************/
.bx-wrapper .bx-viewport {
	right: 0 !important;
	direction: ltr;
	min-height: 113px;
}
.bx-wrapper .bx-controls-direction a {
	outline: 0 none !important;
	z-index: 1;
}
.w2dc-slider {
	visibility: hidden;
	height: 100%;
}
.w2dc-slider .slide {
	height: 100%;
}
.w2dc-slider .slide > a {
	display: block;
	/* height: 100%;
	position: relative; */
}
.w2dc-slider .slide img {
	opacity: 0.5;
	cursor: pointer;
}
.w2dc-slider .slide img:hover, .w2dc-slider .slide-active img {
	opacity: 1;
}
.w2dc-content.w2dc-slider-wrapper {
	clear: both;
}
/* It works with devices width less than 768 pixels. */
@media screen and (max-width: 768px) {
	.w2dc-content.w2dc-slider-wrapper {
		max-width: 100% !important;
	}
}
.w2dc-big-slide {
	text-align: center;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-size: contain; */
}
.w2dc-big-slide-wrapper a {
	display: block;
}
.w2dc-big-slide-wrapper {
	background: none repeat scroll 0 0 #fff;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #ccc;
	transform: translateZ(0px);
	margin-bottom: 20px;
	overflow: hidden;
}
.w2dc-big-slide-caption {
	background: none repeat scroll 0 0 rgba(80, 80, 80, 0.75);
	bottom: 0;
	right: 0;
	position: relative;
	width: 100%;
}
.w2dc-big-slide-caption span {
	color: #fff;
	display: block;
	font-family: Arial;
	padding: 10px;
	font-weight: bold;
	text-align: right;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
	transition: none;
}


/************************ Buttons ************************/
div.w2dc-content .w2dc-btn-primary, div.w2dc-content a.w2dc-btn-primary,
div.w2dc-content .w2dc-btn-primary:hover, div.w2dc-content a.w2dc-btn-primary:hover
div.w2dc-content .w2dc-btn-primary:visited, div.w2dc-content a.w2dc-btn-primary:visited,
div.w2dc-content .w2dc-btn-primary:focus, div.w2dc-content a.w2dc-btn-primary:focus {
	background-image: none;
}


/************************   Misc styles   ************************/
#ajax_loader {
	width: 220px;
	height: 19px;
	display: none;
}
.w2dc-ajax-loading {
	background: url('../images/ajax-indicator.gif') #eeeeee no-repeat center !important;
}
/* .ui-autocomplete-loading {
	background-image: url('../images/ajax-indicator.gif') !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
} */
.ui-slider .ui-slider-handle {
	z-index: 1 !important;
}
.ui-widget-overlay {
    background-repeat: repeat !important;
	z-index: 5 !important;
}
.w2dc-content .ui-slider-horizontal {
	height: 10px;
}
.w2dc-content .ui-slider .ui-slider-handle.ui-corner-all {
	top: -8px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
}
.w2dc-content .ui-slider .ui-slider-handle.ui-state-default {
	border-width: 6px;
}
.clear_float {
	clear: both;
}
.w2dc-red-asterisk {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1px;
	padding: 2px;
}

.g-recaptcha {
	margin: 10px 0;
}
.w2dc-content .updated, .w2dc-content .error {
	margin: 5px 0 15px;
	padding: 0 0.6em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	display: block;
}
.w2dc-content .updated p, .w2dc-content .error p {
	margin: 1em !important;
}
.w2dc-content .updated {
	background-color: #FFFFE0;
	border-color: #E6DB55;
}
.w2dc-content .error {
	background-color: #FFEBE8;
	border-color: #CC0000;
}
.w2dc-delete-attached-item {
	width: 20px;
	height: 20px;
	background: url('../images/delete.png') no-repeat center;
	cursor: pointer;
}

.w2dc-content .w2dc-share-buttons {
	margin: 10px 0;
}
.w2dc-content .w2dc-share-button {
	margin: 0 0 10px 10px;
	display: inline-block;
}
.w2dc-content .w2dc-share-button a {
	text-decoration: none;
	margin: 0 0 0 5px;
	display: inline-block;
}
.w2dc-content .w2dc-share-button a img {
	opacity: 0.5;
}
.w2dc-touch .w2dc-content .w2dc-share-button a img {
	opacity: 1;
}
.w2dc-content .w2dc-share-button a img:hover {
	opacity: 1;
}
.w2dc-share-count:after, .w2dc-share-count:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.w2dc-share-count:after {
	border-color: rgba(224, 221, 221, 0);
	border-left-color: #f5f5f5;
	border-width: 5px;
	top: 50%;
	margin-top: -5px;
}
.w2dc-share-count:before {
	border-color: rgba(85, 94, 88, 0);
	border-left-color: #e0dddd;
	border-width: 6px;
	top: 50%;
	margin-top: -6px;
}
.w2dc-share-count {
	display: inline-block;
	font: 11px Arial, Helvetica, sans-serif;
	padding: 5px;
	border-radius: 6px;
	position: relative;
	border: 1px solid #e0dddd;
	background: none repeat scroll 0 0 #f5f5f5;
}

.w2dc-payments-free {
	font-weight: bold;
	color: red;
}
.w2dc-price {
	font-size: 3em;
	line-height: normal;
}
.w2dc-price .woocommerce-Price-amount {
	font-size: 1em;
}
.w2dc-price del {
	font-size: 0.5em;
}

/************************   jquery.tokenize.css   ************************/
div.TokenizeMeasure,
div.Tokenize ul li span,
div.Tokenize ul.TokensContainer li.TokenSearch input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.Tokenize {
    position: relative;
    display: inline-block;
    zoom: 1;
	width: 100%;
}

div.Tokenize ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.Tokenize ul li {
    white-space: nowrap;
}

div.Tokenize ul.TokensContainer {
    cursor: text;
    padding: 0 0 10px 5px;
    overflow-y: auto;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	width: 100%;
}

div.Tokenize ul.TokensContainer.Autosize {
    height: auto;
}

div.Tokenize.Disabled ul.TokensContainer,
div.Tokenize.Disabled ul.TokensContainer input {
    cursor: not-allowed;
}

div.Tokenize ul.TokensContainer li.Token {
    border: 1px solid #ccd5e3;
    background-color: #eff2f7;
    padding: 0 5px;
    line-height: 18px;
}

div.Tokenize ul.TokensContainer.ui-sortable:not(.ui-sortable-disabled) li.Token {
    cursor: move;
}

div.Tokenize ul.TokensContainer li.Token.MovingShadow  {
    border: 1px solid #fcefa1;
    background-color: #fbf9ee;
}

div.Tokenize ul.TokensContainer li.Token.PendingDelete {
    opacity : 0.5;
    -moz-opacity : 0.5;
    -ms-filter: "alpha(opacity=50)";
    filter : alpha(opacity=50);
}

div.Tokenize ul.TokensContainer li.Token,
div.Tokenize ul.TokensContainer li.TokenSearch {
    margin: 5px 5px 0 0;
    height: 22px;
    float: left;
}

div.Tokenize ul.TokensContainer li.TokenSearch input {
    margin: 0;
    padding: 1px 0;
    background-color: transparent;
    line-height: 18px;
    border: none;
    outline: none;
}

div.Tokenize ul.TokensContainer li.Placeholder {
    color: #ddd;
    position: absolute;
    line-height: 20px;
    padding: 5px 5px 0 0;
    display: none;
}

div.Tokenize ul.TokensContainer,
div.Tokenize ul.Dropdown {
    border: 1px solid #ccc;
}

div.Tokenize ul.TokensContainer li.Token a.Close {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    line-height: 18px;
    float: right;
    margin: 1px 5px 0 0;
    padding: 0;
    cursor: pointer;
    color: #a6b4ce;
}

div.Tokenize.Disabled ul.TokensContainer li.Token a.Close {
    display: none;
}

div.Tokenize ul.TokensContainer li.Token a.Close:hover {
    background: transparent;
    text-decoration: none;
}

div.Tokenize ul.Dropdown {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    display: none;
    width: 100%;
    padding: 5px 0;
    margin: -1px 0 0 0;
    position: absolute;
    background-color: white;
    overflow-y: auto;

    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;

    z-index: 20;
}

div.Tokenize ul.Dropdown li {
    padding: 5px 20px;
    overflow: hidden;
    cursor: pointer;
	margin: 2px;
}

div.Tokenize ul.Dropdown li.Hover {
    color: white;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dashicons, .dashicons-before::before {
	line-height: inherit;
}