/** Admin event */

.evoep_images .evpep_img_holder span{
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.evoep_images .evpep_img_holder span b{
	position: absolute;
    background-color: #000;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
    text-align: center;
    color: #949494;
    font-size: 13px;
    top: 0;
    right: 0;
    margin-top: -5px;
    margin-right: -5px;
    cursor: pointer;
}
.evoep_images .evpep_img_holder span b:hover{background-color:#EFE6E3 }
.evoep_images .evpep_img_holder img{
	width: 80px;
	height: auto;
	border:#C1C1C1 2px solid;
	border-radius: 5px;
}
#evoep_select_images{
    border:none;
    font-style: italic;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#evoep_select_images:hover{    background-color: rgb(245, 228, 198);}