#search_ngo, #search_proposal{
	margin-top: -10px;
    margin-bottom: 10px;
}
.search_select_div{
	width: 200px;
	float: left;
}
.mr10{
	margin-right: 10px;
}
.w150{
	width: 150px;
}
.w200{
	width: 200px;
}
.multiple_contact_entries input[type="text"]{
	width: 200px;
}
.multiple_contact_entries input[type="email"], .multiple_contact_entries input[type="number"]{
	width: 150px;
}
table.dataTable tbody td {
    border-bottom: 1px solid #e1e1e1;
}
