/* Event tickets settings page styles */
.evotx_searchtix_box{
	position:relative;
}
.evotx_searchtix_box input{
	width:100%;
	font-size:20px;
	border-radius:24px;
	padding:5px 20px 8px;
	text-transform:uppercase;
}
.evotx_searchtix_box span{
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    border-radius: 24px;
    background-color: #DFA872;
    color: #fff;
    padding: 3px 20px 3px;
    right: 4px;
    text-transform: uppercase;
    top: 6px;
    line-height: 26px;
}
.evotx_searchtix_box span:hover{background-color:#F3C599;}

.evotx_searchtix{padding:15px;}
.evotx_searchtix .evotx_other_tickets{
    background-color: #efeae2;
    padding: 20px;
    border-radius: 5px;
}
#evotx3 .evotx_searchtix p {font-weight:bold;}
.evotx_searchtix p em{ width:150px; display:inline-block; font-weight:normal;}
.evotx_searchtix_msg{
	text-align:right;
	padding-right:15px;
	font-style:italic;
}

.evotx_searchtix p span.tix_status{
	background-color: #CECECE;
    display: inline-block;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    cursor: pointer;
    clear: both;
    text-transform:uppercase;
}
.evotx_searchtix p span.tix_status.checked{
	background-color: #A8C784;
    color: #fff;
}
.evotx_searchtix p span.tix_status:hover{opacity:0.6}